[2014-08-21 17:29] lucas-clemente opened #1 "Initial Converter Implementation"
- [x] Input
- [x] Output

[2014-08-21 17:30] lucas-clemente opened #2 "Make compounds configurable"
Configure depth using [includes](http://jsonapi.org/format/#fetching-includes).

[2014-08-23 18:34] lucas-clemente opened #4 "Don't duplicate linked objects"
C.f. http://jsonapi.org/format/#document-structure-compound-documents:

[2014-08-23 18:36] lucas-clemente opened #5 "Respect `json:...` tags"
Currently tags in structs are ignored. We should implement them as in http://golang.org/pkg/encoding/json/.

[2014-08-23 18:39] lucas-clemente opened #6 "Only include requested objects in the root array"
If an object links to its own type, linked objects must be placed into the `linked` map, not into the root array.

[2014-08-23 18:41] lucas-clemente opened #7 "Documentation"
Needs documentation, especially usage examples, in `doc.go` and `README.md`.

[2014-08-24 10:20] lucas-clemente opened #8 "Unmarshaling of compounds"
Unmarshal should respect `links`.

[2014-08-24 10:21] #1 closed, assigned to nobody

[2014-08-26 14:37] lucas-clemente opened #9 "Marshaling of has-one relationships"
Currently we only look for slices. Probably we should treat any non-fundamental type as a relationship.

[2014-08-26 16:16] mantenie opened #10 "IDs must be of type string"
http://jsonapi.org/ requires for id values the type string.
More info: http://jsonapi.org/format/#document-structure-resource-object-ids

[2014-08-26 16:40] lucas-clemente opened #11 "Generate REST handlers"

[2014-08-26 17:16] lucas-clemente opened #12 "Root object shouldn't be array when marshaling single objects"

[2014-08-27 00:13] #10 closed, assigned to nobody

[2014-08-28 11:58] #4 closed, assigned to wwwdata

[2014-08-29 21:43] lucas-clemente opened #15 "Switch to camelCase?"
I found some sources using camelCase instead of snake_case:
- https://github.com/daliwali/ember-json-api has camelCase as default in its serializer
- https://github.com/json-api/json-api/issues/7#issuecomment-34920543 cites camelCase as the de-facto recommendation
- Google's JSON style guide says camelCase: https://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml#Property_Name_Format

[2014-08-29 22:29] #11 closed, assigned to nobody

[2014-08-30 13:23] #15 closed, assigned to nobody

[2014-08-31 11:28] #8 closed, assigned to nobody

[2014-08-31 11:33] lucas-clemente opened #16 "Refactor ID conversion in unmarshaling"
conversion of `interface{}` to `int`, `string` in struct happens at multiple places, should be refactored (c.f. toID in `marshal.go`).

[2014-09-02 11:54] sharpner opened #18 "Remove panic from public API"
We should remove panic in the public api and only return errors.

For example Marshal panics when data is nil.

The internal api still can panic but the external methods have to recovery from any panic.

For more information:
"The convention in the Go libraries is that even when a package uses panic internally, its external API still presents explicit error return values."
http://blog.golang.org/d

[2014-09-02 17:33] mantenie opened #19 "Add api2go to the examples list to jsonapi.org"
Add a link to api2go here: http://jsonapi.org/examples/

[2014-09-04 12:31] lucas-clemente opened #20 "Make Unmarshal's conversions json.Unmarshal-compatible"
Right now unmarshaling into `int`s fails, since `json.Unmarshal` creates a float. We should implement more type conversions in `Unmarshal`.

[2014-09-05 15:47] #16 closed, assigned to nobody

[2014-09-07 14:59] lucas-clemente opened #22 "Authorization"

[2014-09-08 14:52] #9 closed, assigned to wwwdata

[2014-09-09 11:32] #5 closed, assigned to nobody

[2014-09-14 15:14] mantenie opened #25 "Add useful error handling"
Return correct status codes and some more information as documented on http://jsonapi.org/format/#errors.

[2014-09-18 13:50] #18 closed, assigned to sharpner

[2014-10-08 15:22] mantenie opened #28 "POST requests with json "null" values produces panic"
This is an example POST request:

[code]

[2014-10-08 15:54] mantenie opened #29 "POST request with linked resources returns HTTP Error 500"
For example a POST request with this:
{"answers":[{"text":"sdfsdf","links":{"brainstorming":"1","user":"1"}}]}

The console message is:
2014/10/08 17:47:29 expected ID to be of type int or string in struct
2014/10/08 17:47:29 => POST /v1/answers 500 in 71.443us

[2014-10-09 07:38] #28 closed, assigned to nobody

[2014-10-09 07:48] sharpner opened #31 "Prefer fmt.Stringer() interface over hard coded string"
When using a custom string type with a method String() the Stringer() interface will not be used.

This commit shows a failing tests: SHA: 93b8f78895c3483dd5416112b1aadf106ddde7a9

[2014-10-09 09:01] #29 closed, assigned to nobody

[2014-10-10 11:26] #31 closed, assigned to nobody

[2014-10-11 12:52] mantenie opened #35 "Linked id's should allow sql.NullInt64"
I can not unmarshal a json with a linked optional resource. The datatype for the ID value is sql.NullInt64. This should be supported by api2go.

[2014-10-13 12:42] sharpner opened #37 "Marshal/Unmarshal is incosistent"

[2014-10-13 12:56] #35 closed, assigned to nobody

[2014-10-22 13:57] sharpner opened #39 "FindAll should have parameters for skip and limit"
FindAll should have parameters for skip and limit in order to implement paging in the front end.

There will always never be a scenario where a user wants to retrieve all data with millions of datasets.

Another suggestion would be another method FindAllFromTo.

[2014-10-31 13:53] #19 closed, assigned to nobody

[2014-10-31 14:04] mantenie opened #40 "Find range"
JsonApi documentation provides an option to get a defined list of elements, e.g: /photos/1,2,3
Link to the documentation: http://jsonapi.org/format/#urls-individual-resources

It's very helpful to enable async loading from ember.

[2014-11-04 11:48] mantenie opened #41 "Relationship URLs"
Support to get some resources linked by a specific resource.
See http://jsonapi.org/format/#urls-relationships

[2014-11-05 09:09] #22 closed, assigned to nobody

[2014-11-12 18:57] mantenie opened #43 "Updating objects returns "expected one object in PUT""
Regardless of wheather I'm updating a single or multiple objects I get this error.

[2014-11-12 18:59] mantenie opened #44 "Persisting objects from an ember app with filled date fields panics"
This is my console output:

[code]

[2014-11-14 09:14] #43 closed, assigned to nobody

[2014-11-14 13:44] #44 closed, assigned to nobody

[2014-11-25 14:55] sharpner opened #51 "Add Patch support"
http://jsonapi.org/format/#patch

This allows updating only changes in a struct, which allows almost atomar changes to datastructures.

[2014-11-27 14:56] #25 closed, assigned to nobody

[2014-12-02 15:16] #39 closed, assigned to wwwdata

[2014-12-03 15:54] #40 closed, assigned to wwwdata

[2014-12-03 16:53] #6 closed, assigned to wwwdata

[2014-12-06 21:37] #12 closed, assigned to wwwdata

[2014-12-09 23:20] sasha-s opened #56 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with api2go. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable api2go on @Sourcegraph by going to https://sourcegraph.com/github.com/univedo/api2go and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-12-09 23:52] #56 closed, assigned to nobody

[2014-12-14 23:30] #2 closed, assigned to nobody

[2015-01-22 14:34] wwwdata opened #57 "Pass Headers into api2go.Request"
Sometimes it is important to have the Headers in the resource as well to do header based querying. I suggest to extend the Request object with another field Headers.

[2015-01-22 17:31] mantenie commented on #57
:+1:

[2015-01-22 18:05] sharpner commented on #57
+1

[2015-01-23 08:11] #57 closed

[2015-01-29 23:17] parkr commented on #7
This could definitely use some improvement: http://godoc.org/github.com/univedo/api2go

[2015-01-29 23:26] parkr opened #59 "I want your marshalling and types, not your server"
Hi!

Nifty project! I was hoping to use pieces of it to make our JSON-generation easier, but alas there's a lot of overhead with the server stuff that we're not interested in. Thoughts on breaking out serialization and the JSON API types into their own subpackages? :smile:

Thanks for writing this!

[2015-01-30 00:05] parkr opened #60 "Lots of "links""
I plugged a struct into `api2go.MarshalToJSON` and it gave me a multi-layered object, the middle layer being a `links` object. Super weird:

[code]

The outputs:

[code]

The first is not what I'm looking for, the second *is* what I'm looking for. Am I misunderstanding your API?

[2015-01-30 00:52] jfoy opened #61 "Accept requests to create multiple resources"
JSON API specifies rules for requests to create multiple resources: http://jsonapi.org/format/#crud-creating-multiple-resources . Requests creating more than one item are explicitly disallowed in api.go; are there reasons to rule out POSTs describing multiple items, or is this just a feature we haven't gotten to write yet?

[2015-01-30 07:02] wwwdata commented on #61
You are right this is still a missing feature if you are using the api resource to create a rest app. However if you in marshal a json with the api2go unmarshal method it should work.

I guess we should change the signature of the create method of a resource to return multiple ids. You are welcome to submit a pull request if you like. Otherwise I think I can do it on the weekend or next week.

[2015-01-30 07:05] wwwdata commented on #59
Splitting it up shouldn't be any problem at all. What does everybody else think?

[2015-01-30 07:14] wwwdata commented on #60
no, you are right, the first output here is not correct and should look like the second, that you did manually. It's weird that the `Identity` struct is put into a `links` object in the json. I will write a test later to verify this and try to fix it!

[2015-01-30 07:21] lucas-clemente commented on #59
Makes sense. Right now you can already use the marshal and unmarshal functions without the REST stuff (and I guess the compiler should strip the rest out), but splitting it upon a nicer solution :)

[2015-01-30 09:15] parkr commented on #60
Thank you!!!

[2015-01-30 09:15] parkr commented on #59
Thanks guys :)

[2015-01-30 09:28] wwwdata commented on #60
Ah, now I see the problem.

[code]

here, the field `ID` is missing. In our library it is necessary to always have a field ID. So therefore the strange behavior occurs. If you change it to:

[code]

the output is

[code]

which is a little bid better. But there still is the issue that `scopes` gets in the `links` object in the json which in your case is not correct because `Scopes` is not a linked

[2015-01-30 09:30] parkr commented on #60
I'd love to be able to use it without the `ID` at all – in this case, we're fetching a resource and want to omit the ID if empty (in our case, it's not a property we ever set). That would be ideal, but tell me what's possible and we can work from there.

[2015-01-30 09:43] wwwdata commented on #60
Ok, I was able to fix the first issue I pointed out, now I will look into the second one which is marshalling it without the `ID` field.

[2015-01-30 09:46] sharpner commented on #7
yeah most useful information is currently in the Readme and not in the godoc.

[2015-01-30 09:55] parkr commented on #60
@wwwdata YOU ROCK!

[2015-01-30 09:56] wwwdata commented on #60
hm, marshalling a struct without an ID field seems to work fine too. I will commit a test soon. The only problem is that you are not allowed to use something like `UserID` where the `ID` is capitalized beacuse that is an indicator for a referenced struct. So api2go thinks you want to link another `User` struct here with a 1:1 relationship. But as long as you are using `UserId` it works fine, excep

[2015-01-30 09:58] parkr commented on #60
Hm!! I'll try that tomorrow.

Not sure. I'm sure @rodaine could tell you. My personal preference is for snake_case in the JSON, and camelCase in Go.

[2015-01-30 10:04] wwwdata commented on #60
ok, ill open a feature issue for camel/snake_case JSON output and a PR for the bugfix here :)

[2015-01-30 10:05] wwwdata opened #62 "camelCase and snake_case in JSON"
It should be possible to configure if the JSON output is in camel or in snake_case.

We already discussed this in #60

[2015-01-30 10:29] #60 closed

[2015-01-31 09:16] rodaine commented on #60
Late to the discussion here but the case is up to the implementer, imo. For example, snake case is typical for mongo keys and the convention may bleed into the project. As long as it's consistent, I can see value in either. :+1:

[2015-02-12 16:02] wwwdata commented on #61
updating multiple resources is also in the specification and currenctly not supported: http://jsonapi.org/format/#crud-updating-multiple-resources

[2015-03-09 13:59] alexjp opened #69 "Documentation example and integration"
Hi,

I am a beginner in go, but would love to use something in golang for my ember projects.
But as i am a beginner in go, never managed to make this as a backend. Also trying some frameworks in go, seem very nice, but how would i integrate this in revel or beego or goji or gorilla ?

So, question : Is there an example for this with database ?
Also , is it possible to integrate this into revel or

[2015-03-09 15:22] wwwdata commented on #69
Hi,

we currently do not have a complete example.

Beego or Revel are complete frameworks for rendering a static website, as far as I know. If you want to use our API Methods to generate the routes for you automatically, you get an api2go.API Object. On that you can call the `Handler()` method, to retrieve a standard go `http.Handler` that can be used everywhere. You could for example do your own

[2015-03-09 20:23] alexjp commented on #69
Hi,
I managed to do the Marshal/Unmarshal in goji, but the routes would be great also.

What i would need for my backend would be : jsonapi json marshlling, routes, controllers ( done and done for this ), database ( maybe gorm is the best go orm right now, or beego orm ), some sort of authoring and business logic services support.

I came from the rails world. Right now i am using sails.js for my

[2015-03-10 10:09] wwwdata commented on #69
hi, yes for sql databases I can recommend gorm. I almost tried them all. In the go world everything is pretty new and you won't find a feature complete orm that can do everything at the moment and also not a large framework like rails afaik. It's more around small libraries that you can combine.

At the moment we do not plan to make more out of api2go, but if you have some great ideas what we coul

[2015-03-11 10:38] ben-crowhurst opened #70 "HTTP HEAD requests and/or Cacheing Functionality"
Is it true to state api2go fails to address cacheing in any form?  Even a HTTP HEAD request seems blocked (405 Method Not Allowed)

[2015-03-11 10:49] sharpner commented on #70
I'll look into it

[2015-03-11 10:49] wwwdata commented on #70
yes, currently the api does not support HEAD requests. But we could easily integrate that.

[2015-03-11 16:51] ben-crowhurst opened #71 "Compound Documents show under 'linked' not 'included' as per specification"
Given JSONAPI 1.0 will not be ratified until the end of the month. I'm not sure of the importance of this issue.

http://jsonapi.org/format/#document-structure-compound-documents

[2015-03-11 16:54] wwwdata commented on #71
yeah, they changed it from linked to included like 2 days ago

[2015-03-11 16:55] ben-crowhurst commented on #71
Ah, sorry to pester.

[2015-03-11 16:56] wwwdata commented on #71
No, we needed this ticket anyway! thx :trollface:

[2015-03-11 18:26] mantenie commented on #41
This is solved by https://github.com/univedo/api2go/pull/68.

[2015-03-11 18:26] #41 closed

[2015-03-12 14:11] ben-crowhurst opened #72 "Slash at the end of a URI causes a 307 (Temporary Redirect) response status-code"
curl -XPOST http://localhost:8080/v1/feeds/ -v --data '{ "data":{ "content": "data, here lads", "name": "England weather fault predictions", "description":"corvusoft weather based fault predictor", "supplier": "Corvusoft Solutions"}}'

The additional / at the end of feeds/ causes a HTTP response status of 307 (Temporary Redirect). This has caused a fair bit of confusion over the past hour.   Would

[2015-03-12 14:13] ben-crowhurst opened #73 "Empty slashes in resource property when using NewAPI( "v1" )"
curl http://localhost:8080/v1/profiles

{"data":{"email":"xxxxx@corvusoft.co.uk","forename":"Ben","id":"96329b3e-c25b-4b22-91a1-c8ffa6aa7fb3","lastLocationHref":"","license":"trial","links":{"apps":{"ids":["050f2861-8c5c-445b-9643-a0495748e38"],**"resource":"/v1//profiles/96329b3e-c25b-4b22-91a1-c8ffa6aa7fb3/apps"**,"type":"apps"}},"organisation":"Corvusoft Solutions","surname":"Crowhurst","type":

[2015-03-12 14:37] sharpner commented on #73
Could you provide more of your code? Which call is it?

[2015-03-12 15:06] sharpner commented on #69
I will close this for now.

[2015-03-12 15:06] #69 closed

[2015-03-12 15:07] sharpner commented on #7
maybe we can keep #69 in mind

[2015-03-12 15:46] #72 closed

[2015-03-13 10:03] sharpner opened #75 "Validate struct if it contains a <field>IDs slice for a <field> map"
currently you get same random exceptions if an IDs field is missing.

Additionally, at the moment the order of fields is relevant in the struct, which is really dangerous.

[2015-03-13 10:04] wwwdata commented on #75
yes, the current order is currently always: referenced object(s) and then ID(s).

[2015-03-13 10:48] #59 closed

[2015-03-13 10:50] sharpner opened #77 "Refactor the spaghetti mess"
Code must be human readable.

The current mess is not understandable. =)

[2015-03-13 12:22] sharpner commented on #70
the addition of HEAD requests is not the problem.

The current architecture does not allow changing the Status Code within the DataSource or within a Controller.

In order to let users implement Caching within a DataSource this function must be implemented.

But for the meantime, you could wrap the api.Handler() :

[code]

[2015-03-13 12:23] #37 closed

[2015-03-13 12:26] wwwdata commented on #77
:+1: gogo volunteers!

[2015-03-13 12:27] wwwdata commented on #20
hmm, as far as I remember, I have fixed this issue already. I guess we can close this ticket?

[2015-03-16 11:08] sharpner commented on #20
yep.

[2015-03-16 11:08] #20 closed

[2015-03-16 20:48] sharpner commented on #73
Ah I see you updated your original message. Will look into it.

[2015-03-16 22:08] steveklabnik opened #78 "JSON API RC3 tracking"
Hey there! I just wanted to let you know that JSON API has hit RC3, and we'd like client libraries to start implementing it like it was 1.0, as a final check that we're good for 1.0. I wanted to make this issue to let you know!

https://github.com/json-api/json-api/issues/484

[2015-03-16 22:18] wwwdata commented on #78
awesome!

[2015-03-16 22:32] steveklabnik commented on #78
:confetti_ball:

[2015-03-17 14:24] wwwdata commented on #73
hm, I have changed the api tests to use a prefix and the `resource` url seems to be generated fine without double slashes. Can you give me a complete code example where this error happens? It would be ideal if you could write a unit test that fails, then we could correct the code until it works.

[2015-03-17 14:43] wwwdata opened #79 "Update Resource Relationships for RC3"
http://jsonapi.org/format/#document-structure-resource-relationships

the URL generation for that is currently in our `marshal` method which is wrong. The URL is context based. If a related resource is fetched, the url for that related resource must be generated, for example

`GET /articles/1/author`

Response:
[code]

the generation of the urls in `links` must be moved to the api part.

[2015-03-17 14:45] wwwdata opened #80 "Routes to manipulate Relationships"
See http://jsonapi.org/format/#crud-updating-to-one-relationships

to one example

[code]

to many example

[code]

[2015-03-17 14:47] wwwdata opened #81 "Rename field names"
Check all our generated field names and update them for RC3. For example `resource` to `related` etc...

[2015-03-17 14:51] wwwdata opened #82 "Pagination"
Pagination is extremely useful if dealing with a lot of data of the same type. We should support it like described here: http://jsonapi.org/format/#fetching-pagination

Basically use the specified query parameters:
  * page[number]
  * page[size]

Or
  * page[offset]
  * page[limit]

and the generation of pagination links in the `links` object:
  * "first" - the first page of data
  * "last" - the

[2015-03-17 15:14] wwwdata opened #83 "Routes to fetch relationships"
http://jsonapi.org/format/#fetching-relationships

Routes to only fetch relationship data not the related objects itself

`GET /articles/1/links/author`

[code]

if it is a to many relationship, there simply is an array in the data object

[2015-03-17 15:54] sharpner opened #84 "Interfaces for Referenced Structs"
In order to remove much of the reflection stuff, we introduce some new interfaces.

The Idea is, that we do not need any convention any more for fields with reference IDs or referenced structs. This will be handled by methods that are defined in an interface.

We need at least these 4 Methods:
[code]
  * GetReferencedIDs() []ReferenceID {}
  * SetReferencedIDs(IDs []ReferenceID) {}
  * GetReferenc

[2015-03-17 16:03] sharpner commented on #73
I couldn't reproduce it either. Is this still a problem or have you fixed it already @ben-crowhurst ?

[2015-03-17 16:05] wwwdata commented on #84
Another idea: We also  introduce an interface to get the ID of a struct itself. This eliminiates a lot of the reflection bullshit magic code that we currently have and every single field in the struct that needs to be marshalled is payload without any convention!

[2015-03-17 16:05] ben-crowhurst commented on #73
Still a problem.  I'll setup a testcase.

[2015-03-17 16:06] sharpner commented on #73
thanks

[2015-03-18 18:04] ben-crowhurst commented on #73
Well, having sat down and created the test case. I too fail to replicate this issue.  When into the office tomorrow morning I'll `go get` and see if it resolves itself there as-well.

Please leave this ticket open until COB Thursday 18th March 2015.

[2015-03-18 19:49] sharpner commented on #73
Please make sure to go get -u github.com/univedo/api2go before testing again.

Maybe you had this problem with an older Version ;-)

[2015-03-19 08:26] wwwdata commented on #77
this can be closed if #84 is solved which basically is a major rewrite of a lot

[2015-03-19 16:48] sharpner commented on #73
ok closing this.

[2015-03-19 16:48] #73 closed

[2015-03-19 18:49] ben-crowhurst commented on #73
All,

Sorry I was meaning to get to this today.  Will confirm tomorrow and reopen if necessary.  Thank you for your time

Regards,
Ben Crowurst
Corvusoft Solutions

[2015-03-23 08:50] sharpner opened #86 "Add support for extensions"
jsonapi.org allows custom extensions. http://jsonapi.org/format/#extending

We should implement a generic way to register those.

[2015-03-27 09:57] sharpner opened #87 "Registering a struct with name status generates /statuses route"
well, thats simply wrong. It should be /status

[2015-03-27 10:00] sharpner commented on #87
ok no bug. Plural is statuses

[2015-03-27 10:00] #87 closed

[2015-03-27 10:01] wwwdata commented on #87
again what learned

[2015-03-27 10:39] sharpner commented on #87
:+1:

[2015-03-27 10:42] sharpner commented on #84
fixes #77
fixes #84
fixes #7

[2015-03-27 13:37] #77 closed

[2015-03-27 13:37] #84 closed

[2015-03-27 13:37] #7 closed

[2015-03-27 13:39] sharpner commented on #75
not necessary anymore

[2015-03-27 13:39] #75 closed

[2015-04-02 13:18] ben-crowhurst opened #88 "Missing Query Parameters"
Having just run `go get -u github.com/univedo/api2go`

**The only available parameters for printing are:**

2015/04/02 14:12:04 feedsID = [AD83C78A-4370-45D7-8FD3-335C4C9552B3]
2015/04/02 14:12:04 Fields: [*]

**first & last query parameters are missing :/**

[code]

[2015-04-02 13:33] wwwdata commented on #88
I quickly looked at the code and found the problem. Looks like I forgot to call the buildRequest method here https://github.com/univedo/api2go/blob/master/api.go#L223

[2015-04-02 13:53] #88 closed

[2015-04-03 14:43] ben-crowhurst opened #90 "Resources not correctly marshalled into json."
after performing a `go get -u`

**actual**
[code]

**expected**
[code]

Really need to get some acceptance tests around this project.

[2015-04-03 15:15] wwwdata commented on #90
This is the new expected behavior. We introduced the new interfaces and everything that you do not want to have in the json needs to be ignored with the json ignore tag like described in the readme.

[code]

[2015-04-03 15:18] ben-crowhurst commented on #90
Sorry I did read this yesterday. My mistake.

[2015-04-03 15:21] ben-crowhurst commented on #90
So is this inline with the JSONAPI.org?

[2015-04-03 15:26] ben-crowhurst commented on #90
Sorry I did read this yesterday. My mistake, have a good weekend.

[2015-04-03 15:26] #90 closed

[2015-04-03 15:27] wwwdata commented on #90
no problem :) Have a nice weekend too. We wanted to eliminate this "magical" behavior where you needed to have special fields for IDs and Relationship structs and solved this problem by interfaces now. We think this is a much more flexible and cleaner way to do it.

[2015-04-07 13:05] wwwdata commented on #81
this will also solve #71

[2015-04-07 13:12] wwwdata commented on #81
also to keep in ind the field `ids` for relationships does not exist any longer and every relationship has it's own entry now in a to-many

[code]

[2015-04-07 13:40] wwwdata opened #91 "Replace CamelCase with Dashes"
jsonapi now recommends to use dashes for naming of fields

[2015-04-07 15:39] wwwdata commented on #83
I guess we should make this optional and provide another interface that must be implemented in order to use generated relationship routes

[2015-04-09 09:04] #81 closed

[2015-04-09 09:05] #71 closed

[2015-04-09 14:05] #51 closed

[2015-04-10 11:56] wwwdata commented on #79
this problem is solved

[2015-04-10 11:56] #79 closed

[2015-04-10 12:00] sharpner commented on #61
Creating and Updating multiple resources is not in the RC3 spec anymore. So I'm closing this.

[2015-04-10 12:00] #61 closed

[2015-04-10 12:00] wwwdata commented on #62
we have to use dashes now #91 closing this ticket

[2015-04-10 12:00] #62 closed

[2015-04-10 12:21] wwwdata commented on #82
Thoughts so far about this:
- Pagination only makes sense for our `FindAll` method. Because all other methods directly fetch resource by their `ID`.
- Pagination links can all be generated automatically by the API, which are:
  - first
  - last
  - prev
  - next
- We currently only have one Interface `DataSource` for all API Methods, this is stupid
- We will split up our interface into the followi

[2015-04-10 13:26] wwwdata opened #94 "Remove FindMultiple"
Jsonapi spec no longer mentions it, so it must be deleted.

[2015-04-13 08:01] #82 closed

[2015-04-13 15:55] lukevers opened #96 "Error when passing anonymous struct to MarshalToJSON"
From the README:

My code:

[code]
The error:

I also tried `Id` like the README also said, and both of them give me the same error.

[2015-04-13 16:18] wwwdata commented on #96
you cannot Marshal an anonymous struct anymore. Every struct that needs to be marshalled must implement the `MarshalIdentifier` interface like mentioned in the error message that you got.

I am sorry that the Readme confused you about this. This ignoring of fields with `ID` in their name is just an unnecessary bonus that api2go does for you. I would even suggest that we remove this completely so t

[2015-04-13 16:27] lukevers commented on #96
Thanks for responding quickly! I also noticed that `ID` error in a non-anonymous struct, and when I saw it happening here too I thought I'd let you guys know. I'll close this issue since it seems I just misunderstood what was going on.

[2015-04-13 16:27] #96 closed

[2015-04-13 16:29] wwwdata commented on #96
ok :) just implement the `GetID` method like here in the example for the structs that you want to Marshal and it will work: https://github.com/univedo/api2go/blob/master/examples/crud_example.go#L47

[2015-04-14 08:01] #94 closed

[2015-04-14 08:47] sharpner commented on #78
diff rc2 -> rc3: https://gist.github.com/bobholt/1a5e9103be5fa85a53da

[2015-04-14 09:10] sharpner commented on #91
Since it's only recommended by the spec and not a must, I would suggest implementing a reflect tag in order to let the user rename fields if wanted.

Something like: `jsonapi:name="hyphened-name"` on a struct field.

The alternative would be to reintroduce conventions again like "every uppercase letter followed by a lowercase letter will be replaced with a lowercase hyphened version of it". But th

[2015-04-14 09:46] wwwdata commented on #91
hm, I think this is a very good idea. We should take a look how client side libraries do it. But we should look at some client side libraries and if they all expect the dash-naming we should make it the default.

But no matter what our "default" is, the custom-name idea is awesome!

[2015-04-14 16:30] wwwdata opened #99 "Add self link to top level links object"
Currently, the top level `links` object is only used for pagination. Jsonapi spec says that it **MAY** always be used and then contains the field `self` with the URL of the current request.

see here: http://jsonapi.org/format/#document-structure-top-level-links

When Fetching a Relationship, we do include a top level links object with `self` and `related` urls. See #83

Since it's optional, this

[2015-04-15 08:43] #83 closed

[2015-04-16 13:14] wwwdata commented on #80
3 Methods must be supported now
- PATCH to replace all relationships of a kind
- POST to add more to-many relationships
- DELETE to delete some or all to-many relationships and one to-one

[2015-04-16 13:28] tanmayambre opened #103 "Corrupt json data causes api to panic. Empty reply from the server"
While doing a PUT request using data not expected by the server. i.e. Bad json data that cannot be un-marshalled.
curl 'localhost:8080/structure/XXX-YYYY' -X PUT --data '{"data":{"integerfield":"iamsendingstringinstead"}}'

i get "Empty reply from server"
I sent a string field while GO data structure expects a integer.

Should it not send an appropriate error code back?

Here is the stack trace.
S

[2015-04-16 13:41] wwwdata commented on #80
We need 2 more methods for entity structs to support POST and DELETE, something like
- `AddToManyIDs(name string, IDs []string)`
- `DeleteToManyIDs(name string, IDs []string)`

In addition to that it would also be nice to have explicit set methods for to-one and to-many relationships. So that it is possible to explicitly set something to zero, which means delete a relationship(s) completely.

`Set

[2015-04-16 13:45] wwwdata commented on #103
thanks for this bug report, we will write a test for it and fix it

[2015-04-16 14:44] #103 closed

[2015-04-16 15:34] #91 closed

[2015-04-18 23:44] alexanderritola opened #106 "Adding custom endpoints/handlers to resources"
It's likely that I'm misunderstanding how this package should be used, so it's probably easiest to explain what I'm trying to accomplish since I imagine there is a good reason `API.router` is private.

If I have a userResource that stores a username and passwordHash, like in the crud_example, and I can create new users by sending a POST request to `/v0/users/`, how could I add a custom endpoint wi

[2015-04-19 00:25] wwwdata commented on #106
Hi, yes api.router is private but we have a function to return it.

[code]

You can then create a mux and combine your own Handlers with our http.Handler

For example something like this

[code]

It would also be possible to register your own julienschmidt httprouter and combine them both. That would also make sense if you have a lot of custom routes and need performance or want to extract paramet

[2015-04-19 00:49] wwwdata commented on #106
Thank you for this excellent question. It gave me a better idea. This is the ultimate solution! You can cast the http.Handler back to an httprouter... why didn't I think about this at first :P

[code]

I added this to our [example](https://github.com/univedo/api2go/blob/master/examples/crud_example.go#L391).

[2015-04-19 02:51] alexanderritola commented on #106
Thanks for the fast response!

Wow, the casting solution seems very elegant, glad my question was helpful! In case anyone see this and like me, has no idea what casting is, I found this [article on type assertions](http://blog.denevell.org/golang-interface-type-assertions-switch.html) helpful.

I'm loving api2go, thanks a bunch!

[2015-04-19 08:21] sharpner commented on #106
Heya! @wwwdata thanks for the fast reply :)
I would recommend the mux solution, since the upcast relies on an internal API that might be subject to change. And relying on a private internal datatype is often dangerous and can break your application.

Glad you enjoy api2go :)

[2015-04-19 08:43] wwwdata commented on #106
Hm. We could make a second function called Router() that directly returns the httprouter instance. Then no type cast is needed and nothing is dangerous. That seems not so hacky. I think we should do that.

[2015-04-19 08:59] sharpner commented on #106
Yeah, that certainly is the better solution. +1

[2015-04-20 18:23] #106 closed

[2015-04-20 18:23] #80 closed

[2015-04-20 22:52] wwwdata commented on #78
We have all the essential features of RC3. So far we could implement them all. I guess we can resolve this ticket?

[2015-04-21 05:58] sharpner commented on #78
you'r right!

[2015-04-21 05:58] #78 closed

[2015-04-21 07:54] sharpner commented on #70
@ben-crowhurst did this help you out?

[2015-04-29 11:41] ben-crowhurst commented on #70
Bit of a work around but it does the job

thank you.

[2015-04-29 12:26] sharpner commented on #70
you're welcome.

[2015-04-29 12:26] #70 closed

[2015-04-29 16:29] wwwdata opened #109 "Marshalling of sql.Null-Types"
Thanks to @Ramzeus. api2go currently does not serialize the sql.Null Types correctly. They are marshalled as is.

The problem is that the JSON serialization seems to be "wrong" when using api2go in order to serialize the data to JSON. Here is what it might look like:

[code]
In this case I think this is what would be preferable:
[code]

[2015-04-29 16:38] wwwdata commented on #109
I think we already were using `gopkg.in/guregu/null.v2/zero` for this problem. It is a wrapper around the sql.Null Types which also has the interfaces implemented to correctly marshall/unmarshall it. I will write a test with them too and check if this also does not work and fix it. But probably tomorrow.

[2015-04-30 09:43] wwwdata commented on #109
Ok, I tried it now with `gopkg.in/guregu/null.v2/zero` and it worked. I will write 2 tests for it that we can merge and I will update the README because this is useful for many people I guess :)

[2015-04-30 10:24] wwwdata commented on #109
Hm, I just pushed a commit where marshalling and unmarshaling works. It works but we should think about how we can do the Unmarshalling differently.

For Marshalling, the Implemented interfaces from the `zero` Library can be used. This just works perfectly. But for Unmarshalling I had to do a lot of type switches for the Zero types. This is not the best solution because it does not use the already

[2015-04-30 13:17] wwwdata opened #111 "Refactor Unmarshaling"
Unmarshaling currently unmarshals into a `map[string]interfaface{}`.
This is not the most elegant solution, because we have to do some magic about type casting and calling the `json.Unmarshaler` interface.

We should try to directly scan into the target struct type to avoid all this trouble.

[2015-04-30 19:09] #109 closed

[2015-05-01 15:30] pmccarren commented on #111
Do you see support for unmarshmaling 'Compound Documents'? For example, if you are using the jsonapi marshaler from a client's perspective, an api server can return compound documents. (http://jsonapi.org/format/#document-structure-compound-documents)

[2015-05-01 16:02] wwwdata commented on #111
Hm. Api2go is currently only for the server. But it's a very good idea I think. So you are having a jsonapi server and want to use a golang program to acces it, right?
It's definitely possible to implement that too. But I would do it after we refactored the current functionality. Maybe we should open a separate ticket for this feature to use api2go as a client.

[2015-05-01 16:04] pmccarren commented on #111
Yeah that is correct -- a jsonapi server, and looking to have a golang program access it. Would you like me to open a separate ticket?

[2015-05-01 16:05] wwwdata commented on #111
yes. Do it please :) I like the idea

[2015-05-01 16:11] pmccarren opened #112 "api2go jsonapi client"
It would be awesome if we could use api2go as a golang client, accessing a jsonapi server. Most of the functionality is currently in place, however this seems like it makes sense to do this after the Unmarshal refactorization (#111) project is done.

We would need to add support for Unmarshaling 'Composer Documents': http://jsonapi.org/format/#document-structure-compound-documents

[2015-05-03 09:48] pengux opened #113 "Unmarshal to single struct"
Currently jsonapi doesn't seem to allow unmarshalling to a single struct instead of a []UnmarshalIdentifier, but according to the spec:

[2015-05-03 11:01] wwwdata commented on #113
you are right, this is confusing. We should add the possibility to use a single struct as well.

[2015-05-04 07:59] wwwdata commented on #113
we had a slice for it because in a previous specification it was possible to create multiple objects. I will open a PR soon that allows to use a struct directly. I would like to support both because of this idea here #112. From a client perspective (if we will implement that too) it is still required to unmarshal multiple objects.

[2015-05-04 08:04] pengux commented on #113
Yes, I agree with supporting both. The standard can be a single object and then we can have a for example UnmarshalManyToJSON() for multiple objects.

[2015-05-04 15:13] #113 closed

[2015-05-05 05:15] stephenmuss opened #115 "More accurate error responses"
It doesn't make sense to always return an error response with a 500 status code.

For example if a client sends a request to retrieve a post at `/v1/posts/a` where `a` should be an integer id it would make sense to be able to return a 400 client error response.

Likewise, if the client were to request `/v1/posts/1` where no post with the id `1` exists it should be possible to return a 404 not foun

[2015-05-05 05:54] wwwdata commented on #115
Hi, yes we have a custom error which includes a http status code. You can do it like here in the example

https://github.com/manyminds/api2go/blob/master/examples/crud_example.go#L317

[code]

err is an optional go error that you can put in, for example if your underlying database had an error. Otherwise just use `nil`, an error message, and a http statuscode like

[code]

It seems we completely f

[2015-05-05 05:56] stephenmuss commented on #115
That's perfect. I should have looked into the example as well. Thanks!

[2015-05-05 05:56] #115 closed

[2015-05-10 06:30] pengux opened #117 "Make marshalError() and marshalHTTPError() public"
When creating custom endpoint handlers, it is necessary to produce custom errors too. So it would be nice if marshalError and marshalHTTPError are public so it can be used by the consuming package. Maybe those methods should be moved to the jsonapi package too?

[2015-05-10 13:12] wwwdata commented on #117
hm, I think you're right, this makes sense. What do you think @sharpner ?

[2015-05-11 23:59] pmccarren opened #118 "'reserve attributes in top level of resource object'"
I'd like to bring some attention to json-api/json-api#588 and specifically commit json-api/json-api@c1b320f6b0e2d43b61e2079d4666d06f3f63215d. This was recently merged into the spec. I think it warrants a top level struct named something like `Resource`. At this point in time this struct would contain `id`, `type`, `attributes`.

Thoughts?

[2015-05-12 07:01] sharpner commented on #118
Hi thanks for the update. Our library is currently compatible with the release candidate 3 of jsonapi.org. The  json-api/json-api#588 you referenced has still many open tickets, so believe it's safe to assume that this will change in any way until the rc4 ;-). Therefore I suggest not to implement features as soon as they are merged in the master. Additionally, I don't believe that there are any cl

[2015-05-12 07:32] sharpner commented on #117
I like the idea of opening error marshalling to the public API. But the current implementation is very http specific. Maybe we can move the marshalHTTPError to api2go.MarshalHTTPError and the marshalError to jsonapi.MarshalError?

[2015-05-12 09:53] wwwdata commented on #118
well, what they changed and already merged for now is the change to put attributes of a resource object into an attributes sub-object like this

[code]

so, only `type` and `id` are directly in the `data` object, everything else is in the `attributes` sub-object. I guess this makes sense if you have a struct field that is interfering with the already reserved names from jsonapi. I don't know, this

[2015-05-31 11:18] wwwdata commented on #118
version 1.0 is out now, and the behavior is now like described in this ticket. I think I will start working on this tomorrow.

[2015-06-01 13:19] wwwdata commented on #118
I started on this feature and now there is something tricky we have to decide on:

Everything except the `type` and the `id` field now goes into the `attributes` object in the json. To determine the `ID` of the struct, there is the `GetID()` method of the `MarshalIdentifier` interface. So far so good, but do we now expect from the user, to json ignore flag the ID field inside his struct, so that i

[2015-06-01 18:09] pmccarren commented on #118
I vote to not automatically remove it because the reasoning to use the attributes struct in the first place is to avoid collisions with jsonapi reserved keys. I suppose this same question can be raised with the `type` key as well..

[2015-06-06 19:15] #118 closed

[2015-06-10 10:57] wwwdata opened #122 "Relationships format for 1.0"
The format for relationships has changed like this:

[code]

so basically we have to rename `links` to `relationships` and put the `self` and `related` links into a `links` object inside of one named relationship like the author in the example. The actual links are in a sub-object called `data` which is an object for to-one or an array for to-many relationships. If no data is currently related, th

[2015-06-10 17:05] #122 closed

[2015-06-11 09:22] sharpner opened #124 "Release 1.0 Tracking"
This ticket is used to track all changes from rc4->1.0 that api2go has to implement.

Feel free to update it accordingly.

[2015-06-30 12:10] tanmayambre opened #125 "Program panics when using multiple references in compound document"
I have written a test project to use.
Please find the code at https://github.com/tanmayambre/testapi2go.git

As an example document author has two refernced documents. "blog" and "book"
I implmented functions for jsonapi.EditToManyRelations interface
If I implement DeleteToManyIDs(name string, IDs []string) error the program compiles but running it causes it to panic.
The stacktrace is at the end

[2015-06-30 12:48] sharpner commented on #125
Thanks. We'll look into it!

[2015-06-30 13:46] wwwdata commented on #125
i am currently looking into it, it seems we have a bug in our router setup and a route setup gets called multiple times. I am fixing it :)

[2015-06-30 13:47] sharpner commented on #125
:+1: thx @wwwdata and @tanmayambre

[2015-07-01 08:27] tanmayambre commented on #125
Thanks for prompt response.

[2015-07-01 09:29] tanmayambre opened #127 "Client-Generated-Id are allowed by the json-api 1.0, not supported in api2go."
If I use id  (client-generated) for a document during POST request I get a 403 Forbidden error.

As per the spec I interpret that it should be left to the client to generate the id and should be allowed.  Is there a flag which can allow me to set client generated id as it is useful in certain use cases for my server using api2go.

[code]

[2015-07-01 09:37] wwwdata commented on #127
hi, no that is not currently supported but it shouldn't  be that difficult to add this feature. We can do this next :)

How to configure that client generated ids are allowed? What do you think would be best?

[2015-07-01 09:48] tanmayambre commented on #127
The best way according to me is let the implementation of the callbacks decide whether to use client-generated-id  or not. i.e. remove check for client-generated id from api2go.

As it is upto the callback to generate the id, then logically the callback to create method should decide whether  to accept client generated id or reject and thus return 403

Cheers.

[2015-07-01 09:54] wwwdata commented on #127
With callback you mean the `Create` Method of a resource, right? So we just remove the client generated id check and it's the users responsibility to deal with it in the `Create` method ?

[2015-07-01 09:56] tanmayambre commented on #127
Yes thats correct

[2015-07-01 09:58] wwwdata commented on #127
ok that's easy we just have to remove some lines here: https://github.com/manyminds/api2go/blob/master/api.go#L622

[code]

[2015-07-01 10:01] wwwdata commented on #127
what we have to do here is to check whether it is a real `UUID` which is a `MUST` in the spec

[2015-07-01 10:05] tanmayambre commented on #127
From the spec .

http://jsonapi.org/format/#crud

NOTE: In some use-cases, such as importing data from another source, it may be possible to use something other than a UUID that is still guaranteed to be globally unique. **Do not use anything other than a UUID unless you are 100% confident** that the strategy you are using indeed generates globally unique identifiers.

[2015-07-01 10:07] wwwdata commented on #127
hmm ok, so it's optional and we don't need a check. Ok. The user of api2go has to check the correct format of the id then.

[2015-07-01 10:11] tanmayambre commented on #127
Yes, thats how I interpret it.

[2015-07-01 11:29] #125 closed

[2015-07-01 12:16] #127 closed

[2015-07-01 12:42] sharpner commented on #99
http://jsonapi.org/format/#document-top-level

[2015-07-03 09:44] ben-crowhurst opened #130 "Release milestones."
We've been using api2go for six months in a commercial (start-up) environment; and various members of the team have raised issues and feedback into the project.

The latest release (RC3) was on 20th April 2015.  This release contains issues and is outdated in comparison to the JSON API specification.  Having attempted to use HEAD and found numerous issues this past week, it has become clear we sho

[2015-07-03 09:52] wwwdata commented on #130
Hi,
at the moment, the plan is to get version 1.0 up and running. So far most of the things for jsonapi 1.0 are working.

if you have found any bugs, please open tickets for them, we can fix them together, to get a stable 1.0 version. You can link anything related to version 1.0 to this ticket #124

[2015-07-03 11:19] sharpner commented on #130
And remember, your contributions are always welcome =)

[2015-07-03 16:28] wkrause13 opened #131 "crud_example.go not unmarshalling request"
I have a fresh install of the api2go library, but I am running into issues with the example code provided. Whenever I try to create a resource, the data fields are not showing up in the handlers. As you can see from the return statement below, "user-name" is blank. The same thing happens when using the "Create a chocolate with the name sweet" example curl statement. Placing a print statement for u

[2015-07-03 17:54] wwwdata commented on #131
hi, thanks for finding this! It seems that we forgot to change the comments in the example. All properties now must go into an `attributes` sub-object.

So, the correct POST request would be like:

[code]

I will change this immediately!

[2015-07-03 18:01] wwwdata commented on #131
I will also update the example how to only list the sweets of a user. It seems we forgot to check for the user-id in the FindAll Method of the sweets in the example too. Will include this in my commit.

[2015-07-03 18:57] wwwdata commented on #131
short update: found a couple of things i want to improve, will probably commit tomorrow :)

[2015-07-03 21:08] wkrause13 commented on #131
Thanks for jumping on this so quickly. I found one more example command using legacy syntax. The example below uses "linkage" instead of "data"
[code]
It should be this:
[code]

[2015-07-03 21:28] wwwdata commented on #131
yes, i saw that too. My plan is to split t his large example file up and make everything better readable and understandable. Also the adding and removing stuff of relationships does not work. I will fix all of that :)

[2015-07-05 12:48] #131 closed

[2015-07-14 09:44] wwwdata opened #134 "Hyphens for routes"
Currently, the route name for a struct is determined by using `jsonapi.Jsonify` in

https://github.com/manyminds/api2go/blob/219e89b3528e885c1cb63186615ae6681921afed/api.go#L318

For fields of structs we currently enable the re-naming to hyphen style by our custom tag:

[code]

I guess we need some mechanism to configure the `jsonapi.Jsonify` and `jsonapi.Dejsonify` methods.

What would be the cle

[2015-07-14 09:47] wwwdata commented on #134
Another option would be to use the hyphen style per default for everything instead of our old camel-case. But hyphen as word-separator is only a recommendation, see:

http://jsonapi.org/recommendations/#naming

[2015-07-14 09:51] wwwdata commented on #134
I guess the simplest solution would be to define another interface, something like

[code]

and then let our api check for it and use the name that is returned by `GetName`. Any opinions? This would be my preferred method after I thought a little bid about it.

[2015-07-14 15:50] #134 closed

[2015-07-16 00:05] grounded042 opened #136 "Why does MarshalToJSONWithURLs only add links for relationships?"
The JSON API format says that a top-level document may contain a links object. However, in api2go when you call `MarshalToJSONWithURLs` it only adds links to relationships. Could we get links for other objects as well?

[2015-07-16 05:19] wwwdata commented on #136
Hi,
a top level links object is currently used if you use our rest api and not the marshaller standalone. We have another ticket for links here #99

What other links apart from `self` do you have in mind? Or do you want a more generic feature which allows to add any link you like?

[2015-07-16 22:19] grounded042 commented on #136
I'm just using the standalone marshaller. What I was looking for was the `self`, and also the pagination links. I see that you have implemented them outside of the marshaller.

For now I'm making do by calling `jsonapi.Marshal` and then adding on a `map[string]string` to `links` off the object that is returned.

[2015-07-19 15:18] wwwdata commented on #136
The reason for pagination to be implemented in the routing/api layer was that we wanted to make it as simple as possible.

I think for the standalone marshaller it would be the best if there is an interface for toplevel links too. So you just have to implement a method that returns a `map[string]string`. Or what do  you think?

[2015-07-24 12:47] geoffgarside opened #137 "Errors struct missing fields or changed structure"
I've only recently started looking at JSONAPI, but I think the Errors struct doesn't match whats documented at http://jsonapi.org/format/#errors

I think the `Href` might now be `links: { about: "href" }`, also the `Path` might now be `source: { pointer: "path", parameter: "something" }`.

[2015-07-24 13:01] geoffgarside opened #138 "Handle update with payload changes"
The specification says that if you're changing any of the properties during the update process, such as computing a sha or setting an `updated-at` timestamp that you need to respond with a 200 OK and return the resource information to the client. At the moment the `handleUpdate` function is only able to respond with a `204 No Content` response.

Is it possible to match this requirement with the cu

[2015-07-24 13:08] sharpner commented on #137
hey thanks for this ticket. You are right, we need to change this for the 1.0 Release.

[2015-07-24 13:11] sharpner commented on #138
It should be possible, but it isn't. Thanks for reporting this issue!

[2015-07-24 13:23] wwwdata commented on #138
Just a quick copy&paste of the return status codes:

original here: http://jsonapi.org/format/#crud-updating-responses

[2015-07-24 17:11] grounded042 commented on #136
Having to implement a method that returns a `map[string]string` sounds good. The only example In the JSON API format that would not work with that is
[code]

But 1) I do not think that's a very common occurrence, and 2) I'm not sure if that's a top-level links object.

[2015-07-27 13:39] geoffgarside commented on #137
I've been looking into implementing this and I'm not sure which of these options would be better. Keep `Error` as a (mostly) flat structure adding things like `Links` and `LinksAbout` where client code would mainly set `LinksAbout` and this is wrapped into `Links.About` when marshalling. Alternatively, add just the `Links` and `Source` fields and to fill these in client code would need to set `Lin

[2015-07-27 15:06] wwwdata commented on #137
I would suggest to delete the deprecated fields. We are not version 1.0 stable with an api that must be as it is.

And there also can be a `meta` object which is missing in your example. The meta object can be anything

So, we need a pointer to `interface{}` for that

I prefer the second solution. What do you think @sharpner?

[2015-07-27 17:56] sharpner commented on #137
I also prefer the second solution.

we could make use of the https://golang.org/pkg/encoding/json/#Marshaler and https://golang.org/pkg/encoding/json/#Unmarshaler interfaces to ignore the optional types in unmarshaling and marshaling which would improve the output I think.

Awesome work btw, thank you ;)

[2015-07-28 07:22] geoffgarside commented on #137
So this one

[code]

and implement the Marshaler/Unmarshaler interfaces to omit the empty links and source fields? I don't know if we'd need the Unmarshaler interface as decoding into the above works fine with and without any link/source data being present. For the sake of completeness though it could be done.

I'll have a go at this today, I've found that the Ember.js JSONAPIAdapter needs the "so

[2015-07-28 07:25] wwwdata commented on #137
:+1:

[2015-07-28 15:10] wwwdata commented on #137
PR #139 is merged, I am closing this

[2015-07-28 15:10] #137 closed

[2015-07-28 20:33] wwwdata commented on #138
we also need the possibility to  return different status codes for create and delete methods.

So
- Create
- Update
- Delete

Methods need the possibility to return a different status code. And when the update method returns with status 200, because it updated a timestamp server-side it also needs to respond with the updated resource.
Currently, the update method always returns nothing and the 204

[2015-07-28 21:21] geoffgarside commented on #138
Regarding the 202 Accepted response code, from RFC2616

I'm not sure how this plays into jsonapi as the specification doesn't make any mention of this. I don't therefore know if there would be some kind of data response that should be sent with a 202 response or if the server would have some Location or other suitable header that it would be able to send back to fulfil the RFC recommendation.

[2015-07-29 12:04] wwwdata opened #141 "Relationships with link only"
Currently we always embed the `data` field and the `self`, `related` links. But If it is a very expensive operation to load a relationship from the backend, it should be possible to only include the `links` object and skip `data` completely. So that a client can, if needed, load the relationships in a second request at a later time.

See here: http://jsonapi.org/format/#document-resource-object-re

[2015-07-30 13:29] #141 closed

[2015-07-31 11:42] tanmayambre opened #143 "Non-json error responses for invalid path"
if I make a request for eg.
curl -X PATCH http://lcoalhost:3000/sweets

I get a 405 Method not Allowed which is correct but error object is "Content-Type: text/plain; charset=utf-8" body "Method Not Allowed"

I think any error or responses by the server implmented with api2go should return a jsonapi error object.

[2015-07-31 12:17] sharpner commented on #143
thx, we'll look into it ;)

[2015-08-01 19:32] #143 closed

[2015-08-02 09:19] #117 closed

[2015-08-02 15:38] sharpner opened #148 "Remove FindOne from Update to allow atomic implementations."
Since jsonapi 1.0 we use PATCH to update entities.

We need to refactor the handleUpdate accordingly and keep links and relations in mind, since they can also get updated.

[2015-08-02 15:49] sharpner commented on #86
this should be done when #147 gets merged.

[2015-08-07 08:26] sharpner commented on #130
Since there is no further communication in this ticket I'll close it for now.

Let us know if you have more questions simply by opening new issues :-)

[2015-08-07 08:26] #130 closed

[2015-08-13 01:09] theduke opened #152 "Custom API routes and middlewares"
FIrst, thanks for the marvelous work!
I was just about to start writing something similar when I came upon this project.
Fits my need very well.

I need to add some custom routes that are not covered by the the JsonAPI scheme and do not relate to resources.

Also, I need some custom middleware.

Is there any way to do that?

[2015-08-13 01:29] theduke commented on #152
Figured both of it out.

[2015-08-13 01:29] #152 closed

[2015-08-13 13:27] dustinsmith1024 opened #153 "Manual marshal without included structs"
I want to include the related structs on my single resource routes but not on the collection routes.  I can achieve this by adding a boolean attribute to my struct `IncludeRelated` and then check that in the `GetReferencedStructs` method.

However, it might be nice to have an extra param on the Marshal methods to say if you want them included or not.  Or different methods to call when you don't wa

[2015-08-13 14:58] wwwdata commented on #153
It is also possible to only include specific relations and not all of them. So a simple parameter is not enough. We would need a mechanism and conventions for that.

We intentionally left it this way for the user of api2go to implement it how he likes it best. As you said you could add an attribute to your struct in order to determine whether a relation or many relations need to be included. I am

[2015-08-13 15:10] sharpner commented on #153
I don't think introducing a parameter is the right way to go, we are currently in the process of stabilizing the api for 1.0 and params for optional behaviour always break it again.

If we decide to introduce such a feature into api2go we should use optional interfaces imho.

[2015-08-13 18:45] dustinsmith1024 commented on #153
Sounds good, Ill keep using the extra param for now.

[2015-08-13 18:45] #153 closed

[2015-08-13 21:44] dustinsmith1024 opened #154 "Unmarshal doesn't respect json struct tag"
When unmarshalling a reference ID it doesn't use the normal JSON tag properly.

[code]

If I send in customerId with lowercase Id:

[code]

I get this error: `expected struct Loan to have field CustomerId`

Setting the `jsonapi="name=customerId"` doesn't actually help either.

The solution appears to be just use capital `customerID` in my JSON, which is fine for me. It just wasn't obvious to me th

[2015-08-14 06:14] sharpner commented on #154
Thanks for the report! I'm on it ;)

[2015-08-16 11:02] theduke opened #156 "Meta information"
I really need the ability to add meta information to the response.

One option would be to add an additional meta or response argument to all the interfaces,
or add an additional returned meta object.

This would require a lot of refactoring and breaks compatability.
Not ideal.

Another "dirtier" solution is to add a Meta [string]interface{} property to the Request struct,
so in all handling funct

[2015-08-16 14:44] wwwdata commented on #156
hi, i am now back from vacation and will complete my work on #147 once this is merged, it is possible to add meta information to every response. Can you look at my PR and check if that would be a good solution for you? We are changing a lot with that and basically breaking the api because we introduce a new Response object.

[2015-08-16 16:44] wwwdata commented on #154
found the bug, PR should be merged soon

[2015-08-16 18:00] #86 closed

[2015-08-16 18:00] #138 closed

[2015-08-16 18:02] sharpner commented on #156
It got merged, have a look at: https://github.com/manyminds/api2go#responder for the usage.

[2015-08-16 18:02] #156 closed

[2015-08-16 18:49] wwwdata commented on #154
#155 was merged, your bug should be fixed with that.

[2015-08-16 18:49] #154 closed

[2015-08-17 09:00] trapias opened #157 "Can't install (error with notAllowedHandler)"
Hello,
I tried installing the library both via "go get" and by installing the sources downloading version 0.3, but including it immediately gives me the error:

	# github.com/manyminds/api2go
	../../../manyminds/api2go/api_public.go:78: cannot use notAllowedHandler literal (type notAllowedHandler) as type http.HandlerFunc in assignment

Commenting out line 78 seems to fix the problem. Will now try

[2015-08-17 09:02] wwwdata commented on #157
do you maybe have an outdated version of julienschmidt's httprouter?

[2015-08-17 09:57] trapias commented on #157
@wwwdata OMG yes that was it, sorry to bother! :blush:

[2015-08-17 09:57] #157 closed

[2015-08-17 09:58] wwwdata commented on #157
no problem :smile:

[2015-08-17 11:02] theduke commented on #156
Perfect, thanks.

[2015-08-17 12:23] trapias opened #158 "Convert existing httprouter and middleware handlers to api2go: suggestions?"
Hello,
this is not an issue, don't mean to bother anybody but would like to have some help if possible.

I'm developing an API server that uses https://github.com/julienschmidt/httprouter to manage handlers, in conjunction with https://github.com/justinas/alice to easily chain handlers and https://github.com/gorilla/context to handle context variables. Since api2go also uses httprouter, I think co

[2015-08-17 13:21] wwwdata commented on #158
Hi, you can get the http router if you like via http://godoc.org/github.com/manyminds/api2go#API.Router

[code]

you should be able to register any other routes you like with that.

I have never used alice nor context but if you need more help I will look into them too and see if I can do an example or sth.

[2015-08-17 13:48] trapias commented on #158
@wwwdata yes I can get the router and add other routes, indeed I can have all of my old code working by doing so.

I'm now trying to understand how I can adapt the "WrapHandler" I was previously using. Starting from the example I'm replicating the "users" resource/model/route and trying to add what I need. I see I could access the http.Request object in my resource methods, e.g.:

	// FindAll to s

[2015-08-17 14:10] wwwdata commented on #158
So you are chaining some http handlers together right? And in a previous handler, something is set via `context.Set` into the request object? This should work. We are just passing through the reference to the original `*http.Request` struct.

I am doing something similar in a project. I was using a normal go mux for that, but with alice it should work like this (i did not test it, this is just wri

[2015-08-17 14:59] trapias commented on #158
@wwwdata oh yes, it works perfectly!!! :grinning:

Alice handlers are like my ConfigHandler above (so simple to chain indeed, I too like the simple syntax), but it works just like you tell - very happy!

I now just have to understand how to extract a route from the chain of handlers. Until now I was using two different chains, one with all handlers and one without the JWT authentication handler, o

[2015-08-17 15:18] wwwdata commented on #158
Ah ok, now I see the problem. Yes indeed if you are using our internal http router instance, register a new route on it and then chain it, it would always call everything in your chain, right? So you need something before all of that. I would recommend to use a simple mux. A mux just goes through all registered routes in order (very stupid). So you would register custom routes first, and then a ca

[2015-08-17 15:37] trapias commented on #158
@wwwdata Ben, don't know how to thank you enough! :+1: :beers: :beers: :beers:

Exactly what I needed. I just had to get the wrapper function out:

	mux := http.NewServeMux()
	mux.Handle("/api/1/login", authHandlers.ThenFunc(applicationcontext.AuthHandler))

because the AuthHandler is no more handled by httprouter, and it works perfectly.

Thanks very, very much!!!

[2015-08-17 15:38] wwwdata commented on #158
Glad I could help you. don't forget to check if the request type is `POST` in the authentication/login handler because the mux just checks the url and not the type.

[2015-08-17 15:40] trapias commented on #158
@wwwdata yep, I'm looking into this right now. Thanks again!

[2015-08-17 15:42] #158 closed

[2015-08-18 08:11] trapias commented on #158
@wwwdata Ben, just a question if you can: do you usually also serve static content, say some HTML or a frontend to your api server, with a ServerMux?

For developing purposes I was using:

	router.ServeFiles("/app/*filepath", http.Dir("../frontend"))

to serve my frontend, but this cannot work anymore due to the router being in the chain of handlers (requires authentication). It's probably possibl

[2015-08-18 09:37] wwwdata commented on #158
yes, you can do it with a mux. You can do it like I described here in #158 but instead of a login page, you serve static content.

For that purpose, just create a second httprouter and only use that for file serving, then use the catchall for the rest (api2go)

[2015-08-18 10:39] trapias opened #159 "Missing mandatory id key"
Hello,
I had to modify my model "masking" the ID not to let it be visible within object attributes, e.g. getting a list of users (/users):

	type User struct {
		ID          string      `json:"-"`
		Name        string      `jsonapi:"name=name"`
		Password    string      `json:"-"`
		// ...
	}

If I don't set the son tag, the ID is shown even if I also get GetID and SetiD on the model, just like in

[2015-08-18 10:57] wwwdata commented on #159
I don't see a problem here, everything you described works as intended. You **must** put an id field inside `data`. And yes, you have to use the json ignore tag to exclude it from the `attributes` object. We don't know the name of your id field, that's why we implemented the `GetID()` and `SetID()` interface methods.

I cannot help you with your second problem. You either include a password in you

[2015-08-18 12:04] trapias commented on #159
@wwwdata Ah! I was misled by the example at  https://github.com/manyminds/api2go/blob/master/examples/crud_example.go, where the Update example in curl does not include the id in data:

	curl -vX PATCH http://localhost:31415/v0/users/1 -d '{ "data" : {"type" : "users", "attributes": {"user-name" : "better marvin", }}}'

So I thought the id was acquired from the url via httprouter params.

About th

[2015-08-18 12:04] #159 closed

[2015-08-18 12:09] wwwdata commented on #159
ok, that is a mistake then in the example comment. I will fix that

[2015-08-18 12:55] trapias commented on #158
@wwwdata thanks Ben, will try again with this later.

[2015-08-21 15:50] trapias opened #160 "How to set total number of records for pagination links generation"
Hello,
should I set the storage idCount property to the total number of records in order to correctly generate pagination links?

I'm not getting pagination links, or getting unexpected values. Given a "users" table with say 1000 records, and a query like (20 records per page, get first 20 records):

	[GET] "/api/1/users?page[limit]=20&page[offset]=0

I'd expect to get links like:

	next: "/api/1/

[2015-08-21 17:09] wwwdata commented on #160
with the offset pattern the next batch would start with offset 20 if you request 20 items on the first page. If you want real pages, use the other pagination query parameters: `page[number]`and `page[size]`

[2015-08-25 08:51] trapias commented on #160
@wwwdata yep my fault, links are actually generated right in all cases once I provide the total number of records in s.idCount. Just I don't need to make the map the same large of course :flushed:

Thanks Ben.

[2015-08-25 08:51] #160 closed

[2015-08-25 16:10] trapias opened #161 "Question about storage"
I'm facing what likes to be a "caching" problem in my resource classes: I'd like to understand if I miss something or if this is the right way to solve the problem.

What I mean is, given an User resource like in the CRUD example but linked to a database, I see that if I call the FindAll() method to get a list of users, then Delete() one of them and again call FindAll(), I still see the deleted us

[2015-08-25 19:48] wwwdata commented on #161
well, we do not secret caching. We are talking about your implementation here and not a problem with our example project, right?

Since I do not know your own code, I don't know what you are doing wrong. Are you sure that your own database modules/structs are not caching? Are you connected to a database? Which one are you using? And what driver for the database?

[2015-08-25 19:50] sharpner commented on #161
It would be awesome if you could provide code if you're are running into issues.
Additionally, if you think it is a bug in api2go you can always write a failing test!

That way we can provide better and faster input :)

[2015-08-26 17:04] trapias commented on #161
@wwwdata @sharpner I actually don't know if this could be a bug, probably not... but I'm failing to understand what I'm doing wrong :flushed:

I have a postgres db, using github.com/lib/pq to talk with it. If I debug my storage functions I see data from database is what expected, but then a "cached" list is returned to the api caller, as told above.
Here are relevant portions of my code:

	/*
		Us

[2015-08-27 13:28] sporto opened #162 "Allow CORS"
I'm using

[code]
to build my api. How can I add the CORS Headers?

e.g.
[code]

[2015-08-27 22:39] sporto commented on #162
Fixed this by putting middleware on top

[code]

[2015-08-27 22:39] #162 closed

[2015-09-02 09:43] sharpner commented on #161
is this still relevant? I'm sorry but I don't think anyone is currently debugging the code for you :) If you have a specific question about api2go feel free to ask, but since this problem is most likely within your code, it's better to ask on stackoverflow or somewhere else.  :-)

[2015-09-02 09:43] #161 closed

[2015-09-02 14:30] trapias commented on #161
@sharpner :) the intention was not to ask anybody to debug my code, I thought it could be somewhat a "more-real-world" example - I mean it's just the CRUD example extended to work with a database, basically, but I agree if something is wrong that's not sure api2go!

[2015-09-02 14:41] sharpner commented on #161
Yeah i know :-)

[2015-09-03 00:10] christianklotz opened #167 "Unmarshaling int based `enum` types fails"
#### Summary

Adding a enum-style field of type int to a struct breaks unmarshal. This is tricky since it's common to have human readable enum value representations of type `string`. In the following example I've chosen to add a field `Status` of type `PublishStatus` to the post. In JSON it would be represented either as `unpublished` or `published`.

[code]

The `PublishStatus` type implements `T

[2015-09-03 06:31] wwwdata commented on #167
hm, so it will never reach the default case a few lines down in unmarshal.go that you linked. I guess we have to check for the `Unmarshaler` interface first and it should be working. I will try that out later.

[2015-09-03 07:03] wwwdata commented on #167
hey, I opened a pull request. What I had to change was your unmarshal method. Because unmarshal receives the value as is, so in json format a string has `""` around it. I had to change that for you, and I added a marshal test, just to have one too for the enum type. Seems to work now. Please review it, then we can merge :smile:

[2015-09-03 09:26] christianklotz commented on #167
Hey, thanks for looking into it so quickly. Just tested it and works. The only thing I wonder is whether the unmarshal method should be changed in a slightly different way.

Instead of:

[code]

… move the json relevant part to the `UnmarshalJSON` method like so:

[code]

[2015-09-03 09:29] wwwdata commented on #167
yes, you can do it like that. The only important thing for us is the `UnmarshalJSON` method since this method fulfilfs the interface. The `UnmarshalText` method doesn't matter, it's just an internal method for you.

[2015-09-03 09:33] christianklotz commented on #167
Sounds good. Thanks again for the fix!

[2015-09-03 15:13] #167 closed

[2015-09-05 16:42] interlock opened #169 "Support passing a Context to handlers"
Many advanced routing frameworks wrap handlers to also contain a Context implementation. Some are based on this https://godoc.org/golang.org/x/net/context and others are custom rolled.

If the community is open to it, I can submit a PR which adds this functionality. It should allow people to pass in per connection db handles, global and request configuration, logging handlers, etc.

[2015-09-06 01:34] wwwdata commented on #169
Hi, yes why not. Go ahead implement it and make a PR :+1:

[2015-09-07 08:39] sharpner commented on #169
would be awesome to have that, please go for it ! :)

[2015-09-10 12:44] wwwdata opened #171 "jsonapi internal ignore tag"
When working with different database drivers, that rely on json themselves, it is possible that I need to deserialize fields, that I do not want to serialize via api2go. In that case, it was necessary to use the `json:"-"` ignore tag. This is a problem because i want these fields to be serialized/deserialized when talking to my database via json.

Therefore, it would be a nice feature to have a `j

[2015-09-10 13:26] sharpner commented on #171
imho it should only be ```jsonapi:"-"```  and not ```json:"-"```.... I think it's a bug.

[2015-09-10 13:29] wwwdata commented on #171
no it's not a bug. our jsonapi tag allows the renaming at the moment. But yes it is weird and for api2go stuff we should always use the jsonapi tag, so it does not interfere with the json tag.

[2015-09-10 13:30] sharpner commented on #171
so lets ignore the json tag and use the jsonapi tag!

[2015-09-11 11:00] #171 closed

[2015-09-13 11:02] #169 closed

[2015-09-13 11:05] wwwdata opened #174 "Context Usage Documentation"
We now have support for a middleware chain with a context because #170 was merged.

We should write a bit about the usage in `README.md` and maybe add an easy middleware example in the example project.

[2015-09-15 07:28] #174 closed

[2015-09-16 07:37] ben-crowhurst opened #176 "Case sensitivity with respect to query parameters."
Is it possible to ignore cAsE when processing query parameters?   I've raised the following [issue](https://github.com/json-api/json-api/issues/884) with the json-api team.

[2015-09-16 07:49] wwwdata commented on #176
hm, currently we take the query parameters as they come in, which is case sensitive in go. Since we have our middleware chain, it should be very easy to write a middleware that just processes all the query parameters and lowercase/uppercases them.

[2015-09-16 07:51] ben-crowhurst commented on #176
@wwwdata Thanks for response.  We've successfully implemented your stated approach,  craving a less clunky implementation.

[2015-09-16 07:51] ben-crowhurst commented on #176
@wwwdata Thanks for response. We've successfully implemented your stated approach, craving a less clunky implementation.

[2015-09-16 07:51] #176 closed

[2015-09-16 07:56] wwwdata commented on #176
@ben-crowhurst you're welcome, i am always happy to help.

If this is a common thing and more ppl want this feature, we could think about collecting some useful ready-to-use middlewares that we ship with api2go. This can also be great to serve as an example if you want to implement your own middlewares.

[2015-09-16 10:16] ethanresnick commented on #176
If you do this, which would be awesome, please take into consideration the specification subtleties around uniformly lowercasing every parameter that comes in. See: https://github.com/json-api/json-api/issues/884#issuecomment-140696166

[2015-09-16 10:29] wwwdata commented on #176
thanks @ethanresnick that makes a lot of sense!

[2015-09-18 10:41] hnakamur opened #177 "build error: cannot use notAllowedHandler literal (type notAllowedHandler) as type http.HandlerFunc in assignment"
I got the following error when I ran `go build`.

[code]

My environments:

[code]

How to build api2go successfully?

[2015-09-18 11:10] sharpner commented on #177
ehm.. this looks strange. Could you update julienschmidt/httprouter to a more recent version?

[2015-09-18 11:14] hnakamur commented on #177
Ah, my bad. I updated julienschmidt/httprouter to the latest commit https://github.com/julienschmidt/httprouter/commit/109e267447e95ad1bb48b758e40dd7453eb7b039 and confirmed `go build` ran successfully.
Sorry for bothering you.
Thanks for your support!

[2015-09-18 11:14] #177 closed

[2015-09-21 10:27] trapias opened #179 "Server IP address with nginx proxy"
When my api server is on localhost, I get all links generated pointing to "0.0.0.0", e.g. "https://0.0.0.0:8000/api/1/users". This is not a problem if you are in a development environment, but in production I'd like to get the real server IP: this is not possible when using nginx as a proxy to the api server.

In my scenario, in production I have the api server running on a port which is not mappe

[2015-09-21 11:11] sharpner commented on #179
Have you tried using [NewAPIWithBaseURL](https://godoc.org/github.com/manyminds/api2go#NewAPIWithBaseURL) ?

[2015-09-21 11:29] wwwdata commented on #179
yes, you can configure the url you like as @sharpner said. But in addition to that it could also be useful to use some X-Forwarded-For headers if you are in a larger more dynamic environment. So maybe this can be a nice to have new feature :)

[2015-09-21 13:01] trapias commented on #179
@sharpner actually solved by passing a proper baseURL to "NewAPIWithMarshalers" (still using pretty content marshaler to easily debug), but agree with @wwwdata having X-Forwarded-For could be useful.
Can close this meanwhile, thank you!

[2015-09-21 13:01] #179 closed

[2015-09-25 12:10] sharpner opened #181 "api2go Oktoberfest Meetup"
@lucas-clemente
@wwwdata
@mantenie

We're planning to go to the Oktoberfest next week.

Are you guys in? What day would work for you?

[2015-09-25 12:12] wwwdata commented on #181
I can arrange every day afternoon/evening. It's up to you. Everybody else that can come is invited too of course.

[2015-09-25 12:12] mantenie commented on #181
:+1:

[2015-09-25 12:13] sharpner commented on #181
of course, but I didn't wanna highlight everyone^^

[2015-09-25 12:13] sharpner commented on #181
I can do Monday to Wednesday.

[2015-09-25 16:19] mantenie commented on #181
Wednesday?

[2015-09-26 13:19] sharpner commented on #181
Sounds good. What time?

[2015-09-27 18:42] mantenie commented on #181
11.30?

[2015-09-27 18:55] wwwdata commented on #181
i will only go at the evenings, so 1700+

[2015-09-27 19:47] wwwdata commented on #136
I am thinking about a good solution for this. It is very easy to achieve a toplevel `links` or toplevel `meta` object that is included in the marshaled result. For that you just call `Marshal` which gives you a `map[string]interface{}` and in that, you can set everything additional that you want.

So for the top level case, what would be best to have?
- A Method that you can call that sets stuff i

[2015-09-27 20:00] wwwdata commented on #136
for the relationship stuff: we could put it into `Reference` https://github.com/manyminds/api2go/blob/master/jsonapi/marshal.go#L32

[code]

[2015-09-28 11:31] lucas-clemente commented on #181
Sorry, I'm pretty busy with writing my thesis and can't make it. Have fun!

[2015-09-28 19:56] #181 closed

[2015-09-29 10:16] hnakamur opened #183 "Sparse Fieldsets example"
I noticed Sparse Fieldsets are mentioned at https://github.com/manyminds/api2go#query-params
However I don't understand how I actually do it.
Could you add the Sparse Fieldsets support to the example?
Thanks!

[2015-09-29 15:13] wwwdata commented on #183
Ok, so the query parameter is for example this like in the [jsonapi documentation](http://jsonapi.org/format/#fetching-sparse-fieldsets):

[code]

In your resource action, for example in the FindOne action, you can access the `api2go.Request` object. This contains the property `QueryParams`.

For this query string, it contain this:
[code]

So for example:

[code]

would print an `[]string` with th

[2015-09-29 15:31] hnakamur commented on #183
Thank you for your answer.

In https://github.com/manyminds/api2go/blob/1352d24a19b7caeeb71f475a0e443983c4b9d4eb/jsonapi/marshal.go#L207-L214
`getStructFields` take a struct, so it returns all fields which has not `jsonapi:"-"` tag.
We can not add `jsonapi:"-"` tag dynamically according to `QueryParams` value on runtime, so I think we need to filter out fields from the result of `getStructFields`.

[2015-09-29 15:39] wwwdata commented on #183
hm yes that is correct, currently we cannot just leave some fields out. What we could easily do is also introduce an `omitempty` setting, like in the original json marshaler from go. But  I don't know if you sometimes want to send empty fields, in that case, this wouldn't be a good solution.

Hm, i will think about it, what does @sharpner say about this?

[2015-09-29 15:44] sharpner commented on #183
Nice find! I have no solid solution at the moment.
The spec clearly states that we mustn't send more fields than requested.
http://jsonapi.org/format/#fetching-sparse-fieldsets

[2015-09-29 15:45] wwwdata commented on #183
hm, so maybe the cleanest solution would be to pipe the requested field list to the marshaler that then only selects specified fields. But this needs some more thinking before any good solutions

[2015-09-29 15:45] sharpner commented on #183
imho api2go has to handle this transparently. We know the request as we know the result, we should filter out anything not requested before sending the response. What do you think?

[2015-09-29 15:47] wwwdata commented on #183
yes, this should be very doable. Then the sparse fields could be completely ignored in the Resource Actions and api2go just marshals the fields requested by the query parameter automatically.

In addition to that it would also be possible to access the query parameters (if a user needs that) so he can perform a better database query, which does not fetch the whole object from the database, which c

[2015-09-29 15:51] sharpner commented on #183
Sure the user can optimize how much he wants, as long as we don't marshal not requested fields into the output ;)

@hnakamur would that work for you?

[2015-09-29 15:52] hnakamur commented on #183
Yes, that would be great!

[2015-09-30 05:50] hnakamur opened #184 "Total record count for pagination"
I would like the total record count at "links.self.meta.count" or somewhere when I use pagination.
http://jsonapi.org/format/#document-links

An example:

[code]

How can I achieve that?
Thanks!

[2015-09-30 07:00] wwwdata commented on #184
do you mean when using the `PaginatedFindAll` method? So we are talking about a top-level `links` object?

This will generate these pagination links automatically for you

[code]

however, like you already noticed, there is no additional meta data like the total count at the moment. We have another ticket #136 which is about setting `links` with `meta` information into the top-level document and a

[2015-09-30 07:19] sharpner commented on #184
But for the record, PaginatedFindAll returns a responder and the total count values. You could store the total count in this Responder result.

The result would look something like this:
[code]

[2015-09-30 09:19] hnakamur commented on #184
Thanks for comments.
Yes, I can set "count" in the toplevel "meta" by adding "count" key in `Responder.Metadata()`.
However when I read http://jsonapi.org/format/#document-links, I thought `links.self.meta.count` is preferrable.
What do you think?

[2015-09-30 09:56] sharpner commented on #184
yeah currently there is no support for metadata in links. It will be done in #99 and is an issue for a while now. We are still arguing about the way on how to implement this.

[2015-09-30 12:12] hnakamur commented on #184
I see. Should I close this issue since this is duplicate of #99?

[2015-09-30 13:05] sharpner commented on #184
Sure why not! I think it will be one of the next things we do!

[2015-09-30 15:59] dennisfaust opened #185 "BuildApi2GoRequest function"
For testing I needed an api2go request with allocated Context, Header and QueryParams. In your tests, you have a function that builds requests. I copied and modified that for my own purposes but it would be convenient to have it available for everyone. Or at least in the documentation as an example. I'd be happy to help with either.

[2015-09-30 17:30] mantenie commented on #181
Party! :-)

[2015-09-30 20:16] wwwdata commented on #181
![image](https://cloud.githubusercontent.com/assets/818880/10205327/e0f104b0-67c0-11e5-8819-748b470d016e.jpeg)

[2015-09-30 21:28] mantenie commented on #181
Great!

[2015-10-01 00:26] hnakamur commented on #184
I'm closing this now. I'm looking forward for #99 to be implemented!

[2015-10-01 00:26] #184 closed

[2015-10-01 10:30] sharpner commented on #185
If I understand you correctly than the long term goal would be that api2go also implements client features #122.

But of course, It would be awesome if you open a PR that extends documentation or the examples, that stuff is always useful :)

[2015-10-01 11:18] sharpner commented on #124
ok since we are not using this I'll close this for now :D

[2015-10-01 11:18] #124 closed

[2015-10-02 11:33] christianklotz opened #187 "Marshaling of struct compositions fails"
When I compose a struct and then marshal it using the normal JSON encoder, all fields including those inherited from the anonymous field will be direct child objects of the composed struct. Using `jsonapi` however it creates an extra node for the anonymous field and fails to generate valid JSON.

Please see the [`marshal_composition_test.go`](https://gist.github.com/christianklotz/1d01b08027d7866d

[2015-10-02 11:37] wwwdata commented on #187
nice catch, we never tested marshaling of structs with compositions. We should look into this and implement it.

[2015-10-02 14:38] christianklotz commented on #187
:)

[2015-10-02 16:06] wwwdata commented on #187
i started working on this, doing the marshal part was trivial, pushing my WIP PR soon :smile: let's see how hard unmarshaling is

[2015-10-03 07:04] faeronsayn opened #189 "Marshalling an array of structs and including relationships"
I've been using the `jsonapi` package and I'm loving it so far. However, I've run into a minor issue where I am unable to figure out how I can marshal an array of structs and include relations with them

For one struct I am successfully able to do this

[code]

I simply have an array of users in `group.Users`, and when I use the above statement it works as intended.

When I try to do this with an

[2015-10-03 10:09] wwwdata commented on #189
Hi, `MarshalIncludedRelations`is an interface that you have to implement on the struct(s) that need to be marshalled. A simple call with one struct or a `[]` of your struct type to `jsonapi.MarshalToJSON` should work. Here is an example:

[code]

which gives you the following json

[code]

The important thing is, that you implement the interfaces correctly. You can look into our `examples` project

[2015-10-04 15:31] faeronsayn commented on #189
Thanks :+1:

[2015-10-04 15:31] #189 closed

[2015-10-05 08:26] mantenie opened #190 "Unmarshal to *time.Time fails"
We use in our case a struct with pointer type ```*time.Time```. Marshaling to json works fine. But ```PATCH```or ```POST```of a struct with a datetime-string fails with an error like ```Could not set field 'Field-name'. Value '2015-10-04T08:54:47.569Z' had wrong type```.

[2015-10-05 08:27] wwwdata commented on #190
can you provide a short failing test?

[2015-10-06 08:15] wwwdata commented on #190
just for the record, if somebody finds this ticket, it is discouraged to use a pointer to `time.Time` in a struct, so we now skip the time field if it has zero value, see: https://golang.org/pkg/time/#Time

[2015-10-06 10:20] wwwdata commented on #190
closing this because #192 was merged in.

[2015-10-06 10:20] #190 closed

[2015-10-06 13:28] mantenie opened #193 "Fix documentation"
This part of the documentation seems not to be up to date:
[code]
Especially the Create returns not just the id but a response object with the object as content.

[2015-10-06 13:40] wwwdata commented on #193
hm, the godoc is up to date: https://godoc.org/github.com/manyminds/api2go#CRUD

[code]

we can copy/paste this into the README if you like. You should always set the object when in Responder when creating a resource, but it can be left out afaik, the api then fetches it again with a `FindOne`. So, it's better to directly include it with the correct status code like documented.

[2015-10-06 13:43] mantenie commented on #193
It would be nice, if all documentations (readme.md included) are up to date. Alternatively you can delete the content of the readme file and refer to the godocs. But this leads to confusion.

[2015-10-06 13:45] wwwdata commented on #193
at the moment, they complement each other. The README is a quick introduction and when you need to know the details, you open the godocs. But yes we should probably move everything from the readme to godocs. Write a small introduction chapter and then document everything at the right place.

[2015-10-07 07:02] #193 closed

[2015-10-07 12:41] #187 closed

[2015-10-08 08:52] dopin commented on #112
+1
I'm very looking forward to this.

[2015-10-08 08:57] sharpner commented on #112
good to know! Any special requirements we should keep in mind?

[2015-10-08 09:12] dopin commented on #112
Well, I'm a novice at Go, so I don't have any idea but well written documents would help users like me, I guess.
I have JSON API written in Rails and just started to develop a CLI for that.

Oh I think it would be nice that api2go could do like this:

[code]

[2015-10-08 09:32] wwwdata commented on #112
if you only have simple posts without compound objects, it should already work. Currently only our marshaller supports the generation of a json with compound objects included in it. We have to add this feature to the unmarshaller too.

[2015-10-08 09:48] dopin commented on #112
It has `relationships` in it. Is that what you mean by "compound objects"?
I'm trying to unmarshal the data but I get `[]`. :cry: I think I'm doing something wrong but I still don't know the right way.

[2015-10-08 09:52] wwwdata commented on #112
as long as you only have relationship IDs, it should work, because that is what works when you use it server-side. Compound objects are objects that you can find under the `included` key in the json. For example if you send a blog post including the comment objects.

[2015-10-08 10:00] dopin commented on #112
I'm sorry. I still can't understand.
I wrote code like this.

[code]

How can I unmarshal the `body` ?

[2015-10-08 10:04] wwwdata commented on #112
are you sure that you are even using our package? we do not provide annotations that you posted in your code snippet. But this is getting offtopic for this ticket, please use our gitter chatroom or let's discuss this in another ticket.

[2015-10-08 10:08] dopin commented on #112
Oh, I'm sorry. I'll join the chat room.

[2015-10-08 10:11] sharpner commented on #112
no worries ;) thx!

[2015-10-09 02:25] faeronsayn opened #195 "jsonapi handling errors?"
How can we marshal errors into jsonapi compatible errors?

[2015-10-09 06:26] wwwdata commented on #195
Hi, if you are using our api functionality, just return an instance of our `HTTPError` as `error`. This will get marshalled correctly: https://godoc.org/github.com/manyminds/api2go#HTTPError
If you return any other normal go like error, then this will also be marshalled into a json api compatible error, but always with the default status code 500.

You can create a new error with `NewHTTPError` ht

[2015-10-09 06:29] faeronsayn commented on #195
Should definitely be in the documentation. But I was wondering how we can do it without using the API functionality.

I'm simply using the `jsonapi` package and it'd be nice if there was a way to do it with just the package.

[2015-10-09 06:34] wwwdata commented on #195
ok in that case, you can either do it yourself, because you are only using our marshal/unmarshal functionality or you can use the structs from the api package. It's your choice. I will add an example for our api users in the documentation.

[2015-10-09 08:13] wwwdata commented on #195
our api is very flexible. We now support adapters which allows you to use our generated routes with every framework that you like. We already wrote an adapter for the popular gin framework: https://github.com/manyminds/api2go#using-api2go-with-the-gin-framework

So, if you are planning to do a normal rest api with the standard routes, this is the easy way to go.

[2015-10-09 14:52] christianklotz opened #197 "Unmarshaling fails with mixed case field names, e.g. ExpiryYear"
I came across an issue I don't really know what to make of it. If I try to run [this test](https://gist.github.com/christianklotz/ac556f4037b13fc0dcf4) I get this:

[code]

Interestingly the field exists, and the error only occurs if the `ticket` struct got the `Address` relationship and the `SetID` method is implemented in the `Address` struct. What I found is that in [`getFieldByTagName`, line 3

[2015-10-09 15:11] wwwdata commented on #197
interesting, i have run your sample and can confirm the bug. I will look into it

[2015-10-09 15:19] christianklotz commented on #197
At some point I tried not using named return values and it worked all of a sudden which was kind of worrying. It was also quite late at that point 👻

[2015-10-09 15:20] wwwdata commented on #197
no that can make sense, I introduced a new function that tries to find the correct field by it's name i guess something goes wrong in there. And if so, i will add some tests too to ensure that this does not happen again in the future.

[2015-10-09 15:28] wwwdata commented on #197
yep, epic fail from me, I forgot a return.. will open a pull request. So in some edge cases, if the for loop has more entries, that was why our tests didn't get that error.

[2015-10-09 15:29] christianklotz commented on #197
What I mean is, as soon as I returned the values in https://github.com/manyminds/api2go/blob/master/jsonapi/unmarshal.go#L316 using a traditional `return field, found` instead of named return params as currently used it worked.

[2015-10-09 15:30] wwwdata commented on #197
yes, I understood that :smile: pushing pr....

[2015-10-09 15:30] christianklotz commented on #197
Ah, amazing

[2015-10-09 15:31] christianklotz commented on #197
I'll have 🍺  to celebrate!

[2015-10-09 15:59] wwwdata commented on #197
the weird thing in  your test file is this line here

[code]

you cannot embed another api2go struct and give it a name, that makes no sense :smile:
I am trying to create a test case right now and it seems that the error strangely only occurs when this is the case, which somehow makes sense, because then i override the previously found value with not found again.. because it recursively goes throu

[2015-10-09 16:10] christianklotz commented on #197
Ha, well spotted. Force of habit of adding struct tags :smile:

[2015-10-09 19:11] #197 closed

[2015-10-10 01:12] obieq opened #199 "marshal-composition bug: cannot unmarshal a struct that contains both a dasherized tag and an embedded struct"
This issue was introduced with the marshal-composition change.  In one of my libraries, I have a struct that contains both a field whose tag name is dasherized as well as an embedded struct.

Prior to the marshal composition change, it worked fine.  After the change, it now raises an exception along the lines of 'invalid key "body-style" in json. Cannot be assigned to target struct "AutomobileReso

[2015-10-10 08:10] sharpner commented on #199
thank you very much. We really shot ourselves in the foot with this one.

[2015-10-10 09:08] wwwdata commented on #199
ok, wait a second, this sentence confuses me:

does that mean that you have an api2go compatible struct as a field with a dasherized name? And you expected it to be marshalled as a normal struct, so something like

[code]

[2015-10-10 09:12] wwwdata commented on #199
But I can reproduce the `create-date` issue, so something is going wrong again.

[2015-10-10 09:14] wwwdata commented on #199
yes, easy fix.. holy shit, I messed up the searching of embedded structs. If the unmarshaler found one, it only searches through the embedded struct and then returns, which was a mistake because more ifelds can be in the struct..

[2015-10-10 09:25] wwwdata commented on #199
@obieq please test my PR if that works now as intended for you. So we can finally be sure that this issue is resolved :smile: thanks!

[2015-10-10 17:58] #199 closed

[2015-10-11 03:21] obieq commented on #199
just grabbed latest and confirmed that my unit tests are passing now :+1:

[2015-10-16 09:41] dopin opened #203 "Unmarshal array attributes not supported?"
Hi,

I'm trying to unmarshal this json
[code]

The `ports` attribute is an array data.
So I wrote a code like this

[code]

But it panics.

[code]

I'm sorry if I'm doing something wrong or missing reading the docs again but could you tell me how to fix this?

[2015-10-16 09:45] sharpner commented on #203
On a first quick look, have you tried exporting `isRunning`? Currently its privated and should be `IsRunning`.

But we will look into it. thx!

[2015-10-16 09:48] dopin commented on #203
Oh my g.. :scream:  It works. Thank you again. :bow:

[2015-10-16 09:52] sharpner commented on #203
Sure thing, I will improve the error message since it shouldn't panic so hard. :-)

[2015-10-16 09:52] #203 closed

[2015-10-16 09:53] dopin commented on #203
By the way, Is it possible to unmarshal array attribute to a `[]struct` ?

[code]

[2015-10-16 09:53] wwwdata commented on #203
hm yes, we should just output an error without a panic

[2015-10-16 09:54] wwwdata commented on #203
@dopin yes that array attribute should work too. Try it out

[2015-10-16 09:56] dopin commented on #203
I got an error message: `Could not set field 'Ports'. Value '[map[protocol:tcp number:80]]' had wrong type`.

[2015-10-16 09:58] wwwdata commented on #203
it also does not work if you use without pointer `[]ImagePort` type?

[2015-10-16 10:00] dopin commented on #203
No, it doesn't work. :sweat:

[2015-10-16 10:01] sharpner commented on #203
Could you open another issue for this?

[2015-10-16 10:01] wwwdata commented on #203
ok, that is something we didn't test.

But if you use jsonapi and have a 1-n reference which this `Ports` is, you should make it a real reference. Or why do you embed this? jsonapi is all about normalization.

[2015-10-16 10:03] sharpner commented on #203
and on a side note, you only need to specify the jsonapi="name" attribute if it differs from the fields name :-)

[2015-10-16 10:17] dopin commented on #203
@sharpner Yes, I will open an issue for that.
I removed the tags from Image struct but it didn't work. I think I should double check the document.

@wwwdata I have some data that is just json. I think I can make `ports` to a relationship but there're some other data -like cache-  fetched from another api. So I wanted to know the way to unmarshal an array attribute.

[2015-10-16 10:18] wwwdata commented on #203
ok, we will add support for that and link that to your new issue.

[2015-10-16 10:32] dopin opened #204 "Unmarshaling array attributes into array structs"
Hi,

This is another question about unmarshaling an array attribute related to #203 .
Unmarshaling array attributes into `[]map[string]interface{}` works. (Thanks for helping me!)
But it doesn't seem to work when it's into struct.

[code]

It doesn't work when it's a pointer `Ports[]*ImagePort`.

How can I unmarshal array attributes to structs?

[2015-10-16 10:34] wwwdata commented on #204
Ok, this is not a question, this is a new feature request :smile:

[2015-10-16 10:35] dopin commented on #203
Thank you. I've created the issue #204.

[2015-10-16 10:43] dopin commented on #204
Oh, I think it would be nice if it's supported.
wish I could create a PR to this... I need to learn Go more.

[2015-10-20 22:56] interlock commented on #183
@wwwdata Thoughts on how this would be implemented? We are at point where we need to filter fields based on requested `scope` (our internal security/view on resources) and the `fields` param.

[2015-10-20 22:57] wwwdata commented on #183
yes, I am on it, have to push my branch, PR will come soon

[2015-10-20 22:58] interlock commented on #183
@wwwdata let me know if you need any help finishing it off. We have some cycles to spend on it.

[2015-10-20 23:07] interlock opened #206 "Fallback to `json` field tags for Marshal/Unmarshal?"
Our models are a little more universal than just jsonapi and already have tags for the json encoder:

[code]

`Jsonify` https://github.com/manyminds/api2go/blob/master/jsonapi/helpers.go#L62 doesn't match our specs.

Adding duplicate data `jsonapi:name="id";json:"id"` can be a source of simple, but frustrating mistakes. e.g. typo in one but not the other.

I propose we fallback to using a `json` t

[2015-10-20 23:27] wwwdata commented on #206
hm I guess a fallback cannot hurt. If you have both tags, the normal go marshaler/unmarshaler can behave differently than the one from api2go. But if the api2go marshaler/unmarshaler does not find the `jsonapi` tag and there is a `json` tag, it should use that.

@interlock do you want to implement it?

[2015-10-20 23:48] interlock commented on #206
I'll have a PR in tonight.

[2015-10-21 05:48] sharpner commented on #206
I don't like a fallback very much.

It would A) break existing applications that rely on api2go using default behaviour when there are json tags and B) make it complicated to use api2go with already existing structs that also already got json tags.

How about making the tagName injectable/configurable?
This way api2go would at least behave predictable and not use any fancy logic internally.

The [

[2015-10-21 08:06] wwwdata commented on #206
hm yes @sharpner is right, we should make this configurable too.

[2015-10-21 12:24] wwwdata opened #208 "json.RawMessage"
https://godoc.org/encoding/json#RawMessage

It was pointed out by @trapias in our gitter chat, that `json.RawMessage` types are not working.

[2015-10-21 12:26] sharpner commented on #208
What would be the expected result? I am not familiar with json.RawMessage :/

[2015-10-21 12:31] wwwdata commented on #208
I just opened this ticket to collect information for now. `json.RawMessage` is a very dirty thing and as far as I understand the official godoc example, it can be used to retrieve content out of a json and manually Unmarshal it in another struct. The type of that struct is not exactly determined. That's why they used the field `Space` as a type-switch. I copied the example:

[code]

So from that I

[2015-10-21 12:38] sharpner commented on #208
ok then let's wait for a valid use- case before implementing this edge case .-)

[2015-10-21 14:55] interlock commented on #206
So any suggestions would that would look like?

The marshaller is decoupled from api2go, communicating configuration could only happen on the tags or perhaps as an implemented interfaces on the interface{} being passed around.

If the idea is to use another tag to configure it, that defeats my motivation to do it. We may as well add the jsonapi tag to mirror our json tags.

[2015-10-21 14:58] sharpner commented on #206
No another tag would not be the solution. I am thinking like introduction something like `UnmarshalWithOptions`

Where options can contain a custom tag for reflection settings....

[2015-10-21 15:04] interlock commented on #206
That could work @sharpner . Thoughts on exposing ./jsonapi as a set of interfaces with a default implementation living there? If we made that tag lookup an interface one could simply embed that default implementation and override that one func (or any other for that matter) to get the behaviour they need.

Moving stuff like that to interfaces and implementation over config is often the `golang` wa

[2015-10-22 00:10] sharpner commented on #206
So I've given it a lot of thought -.-

At first I thought "yay interfaces" for this but I don't think it would grow nicely.

If we would start now with an interface for our new setting:
[code]
in the future we will get more option interface provider
[code]
this would leave use the only options to have a weak type hint on interface{} for our options struct.
[code]

So I guess there are only two opt

[2015-10-22 12:34] wwwdata commented on #206
hm, I guess that we will need some more configuration options in the future. So we have to do this right.

For me, the simplest approach is to use a config struct like in the `tls.Config` example. Yes, if users use structs correctly, which means they use "named" struct, this will not break if they update api2go. But even if they update api2go and don't use named structs, it is not such a big thing

[2015-10-23 02:13] faeronsayn commented on #195
thanks :+1:

[2015-10-23 02:13] #195 closed

[2015-10-23 02:24] faeronsayn opened #211 "Remove relationships attribute when no relationships are included?"
I'm including relationships currently and marshalling them with the `jsonapi` plugin.

I have a Group struct and a User struct with a many-to-many relation.

When I return a list of groups, I get their respective users and include them. After I marshal them though Groups have the `relationships` attribute with everything done properly.

In the included attribute the user resource objects exist, th

[2015-10-23 07:16] wwwdata commented on #211
Ok, so to be correct the `User` object needs the to-one relationship to the group it belongs to right? This should be working if you correctly implemented the `GetReferencedIDs() []ReferenceID` IDs relationship on your `User` struct.

Leaving the relationship object out of the json is not possible, because that violates the jsonapi spec and would be lying about your data structure. However it is p

[2015-10-23 07:35] faeronsayn commented on #211
It's a many-to-many relationship between users and groups. Users belong to multiple groups and a group can belong to multiple users.

Here is some code of how i've implemented those methods (I've basically followed the example)

[code]

and for the User
[code]

[2015-10-23 08:01] wwwdata commented on #211
Are you sure that all the IDs or referenced structs are set before you marshal? I would guess that the problem is that the groups reference IDs are not set before you marshal the Users. If they are set. This is a bug and we need a test to confirm it.

In your case you would have to set the group references into the user struct and the user references in the group struct right? Because they are lin

[2015-10-23 18:31] faeronsayn commented on #211
Correct, that's not a simple task, without doing a weird or manipulating the data once it comes back.

But in any case, there is always the case of not displaying inverse relationships. Users don't have to have  have a relationship to the groups even though our backend knows that a relationship like this exists, the first end doesn't need to.

Furthermore, in the case of not actually including the

[2015-10-23 18:49] wwwdata commented on #211
What you are saying makes totally sense. It is a bit overkill to display the n-m relationship again. Api2go gives you the flexibility to display relationships how you like. That is why we have a method `GetReferences() []Reference` for it. This is not a global or static way, because it is a method that get's called everytime your structs are marshalled. So it's up to you to implement a mechanism t

[2015-10-24 17:54] sharpner commented on #206
the stdlib mostly uses Options structs. `jpg.Options` `gif.Options` etc so I think we should go with that.

@interlock would that solution work for you? You could then UnmarshalWithOptions(..., Options{StructName: "json"}) and it would behave like a "fallback" to json.

[2015-10-24 21:36] faeronsayn commented on #211
Hmm alright, makes sense.

[2015-10-24 21:36] #211 closed

[2015-10-25 18:43] mantenie opened #212 "Accept other status codes as response for update"
Sometimes I want to check if the user is authorized to change some resource data.
If the user is not authorized, I want to return http status 401 but api2go returns 500 and the error message: ```invalid status code 401 from resource users for method Update```

[2015-10-25 18:55] sharpner commented on #212
Yeah you're right, atm we are to restrictive. http://jsonapi.org/format/#crud-updating `A server MAY respond with other HTTP status codes.` We should open up the API and allow all status codes.

[2015-10-25 19:11] wwwdata commented on #212
stop, we are restricting the 2xx status codes, not the error codes. You can use all the 4xx and 5xx status codes, if you correctly fill out our error struct. So please just return an error struct with the correct code, see: https://github.com/manyminds/api2go/blob/master/error.go#L13

[2015-10-25 19:44] mantenie commented on #212
Okay, thanks! That helps.

[2015-10-25 19:44] #212 closed

[2015-10-26 15:18] interlock commented on #206
In the context of encoders, interfaces are the convention in stdlib right now. Providing an interface, MarshalAPIJSON/UnmarshalAPIJSON would solve this issue for us at the moment.

The issue I can see with an `Options` struct in the future is that we continue to use configuration options to programatically add features when we could leave it to an interface and the implementer to add that specific

[2015-10-26 15:30] sharpner commented on #206
I don't see how it would be the responsibility of the user to implement this feature.

We would allow a you to specify the name of the tag which should be used for marshalling/unmarshalling.

We would never allow option switches/settings were an interface would be better.
I just do not see a way how we could use an interface here that wouldn't make it overly complicated or hard to extend in the fu

[2015-10-26 15:56] interlock commented on #206
The problem is that the api2go tag syntax `jsonapi:"name=uber_field" to specify a name is different than encoding/json format `json:uber_field`. That means we will need to insert and maintain logic to look at which tag you are specifying would have to be aware that `json` is different and use a different mechanism to pull the name.

That also makes testing and maintenance a considerably larger ove

[2015-10-26 16:25] wwwdata commented on #206
hm, you are right @interlock
what currently sucks about api2go is the lack of standard compatible Marshaling and Unmarshaling. Like you said if a struct has a field that implements it's own `MarshalJSON` from the `Marshaler` interface, this should be used to marshal it. The only thing that api2go needs to do, is provide the structure around the payload, for example putting stuff into the `attribut

[2015-10-26 16:25] sharpner commented on #206
Okay now I get what you mean. Of course that is another issue that you can't directly influence marshalling/unmarshalling behaviour.

But even if we would provide (and what we'd really like to have!) interface methods, the field name decision comes earlier I believe. That's why, even json uses those tags instead of letting you change field names.

[2015-10-26 16:25] sharpner commented on #206
haha timing

[2015-10-26 16:28] interlock commented on #206
@sharpner @wwwdata I could override the field naming in a Marshaller on the model for naming. Is it the ideal solution, nope. Does it work and we can ship our api if we do that, yup! :grinning:

[2015-10-26 16:51] wwwdata commented on #206
hmm, what to do now? Can you wait with this PR until we worked out our refactoring? I guess if we do the completely standards compatible way, it will be obsolete anyway, because all the original json tags will be used anyways. So our custom `jsonapi` tags, if we keep them at all, will be used as a fallback if no original json tags were found.

But I guess this makes more sense. Api2go should marsh

[2015-10-26 17:34] interlock commented on #206
Sounds good @wwwdata . How can I help?

[2015-10-26 20:31] wwwdata commented on #206
i'll start soon, would be awesome to have another good reviewer/tester when I start this :)

[2015-10-26 21:17] interlock commented on #206
@wwwdata We may fork and add some hacks/patches to work around in the meantime. We have an internal release coming this Wednesday, first production deploy of api2go for us.

[2015-10-26 21:22] sharpner commented on #206
wow that's awesome to hear! good luck for the go live!

[2015-10-28 00:41] dennisfaust opened #214 "Unmarshaling from JSON with null values?"
encoding/json's Marshal ignores null attribute values. Your jsonapi/MarshalToJSON functions accept the nulls if the target is defined as zero.string etc. and overwrites the existing values. That is the behavior I would like in my API. Is the most sensible way to get this behavior to create a custom ContentMarshaler using jsonapi.MarshalToJSON and jsonapi.UnmarshalFromJSON?

[2015-10-28 06:26] wwwdata commented on #214
You mean if you are usings golangs normal `json.Marshal` and `json.Unmarshal` you want to have a different behavior for these null types? Go encodes and decodes json based on the implemented `Marshaler`and `Unmarshaler` interfaces. So if you want to change the behavior of it, you will have to implement them. See: https://godoc.org/encoding/json#Marshaler

But I am not so sure that I understood you

[2015-10-28 20:52] dennisfaust commented on #214
In this test: https://github.com/manyminds/api2go/pull/213/files#diff-59126cff0cd8c2e7fe0eff5325b48142R660
I demonstrate the desired behavior. I'd like to pass in nulls in the JSON payload and have that set the null/zero.* fields to their golang zero value regardless of what their current value is.

[2015-10-29 10:43] sharpner commented on #214
Well, that is not actually an api2go issue, isn't it?

If you like to change the default unmarshal/marshal behaviour have a look at its interfaces https://golang.org/src/encoding/json/decode.go#L93 .

[2015-10-29 14:30] wwwdata commented on #214
you did check http://gopkg.in/guregu/null.v2/zero ?

[2015-10-29 18:29] dennisfaust commented on #214
Further investigation showed that it is indeed an api2go issue. My test was flawed and would always pass because UnmarshalFromJSON creates a new object and it's understandably full of zero values. That test needs to be reworked or most likely removed. But investigating this with a colleague pointed out the real problem which I've demonstrated in a new PR: https://github.com/manyminds/api2go/pull/2

[2015-11-01 19:03] #183 closed

[2015-11-02 20:20] wwwdata commented on #208
Will close this after #202 it just works then.

[2015-11-09 18:17] interlock opened #216 "`handleUpdate` should not pass an empty information{} to Marshaller"
If the resource in question implements the relationship related interfaces this causes a it to attempt to run functions on the empty `information{}` resulting in a `panic()`.

Fix is to pass along the info as the other handlers do and pass that to the marshaller.

https://github.com/manyminds/api2go/blob/master/api.go#L728

[2015-11-09 18:20] interlock commented on #216
Fix looks like this: https://github.com/picatic/api2go/commit/6fcce645794dac6e5a2ef4aea794e207fc1eb5eb

Can submit a cherry picked patch, but it looks like a huge refactor is coming... so YMMV.

[2015-11-09 18:39] abrykajlo opened #217 "Is there a way to include charset=utf-8 at the end of a Response header"
We are using utf-8 in our database and require that our reponse headers contain content-type as such:

[code]

#119 looked like it may have fixed this. By adding your own marshalers you can include

[code]

This should in theory be used after `httputils.NegotiateContentType` gets executed here: https://github.com/manyminds/api2go/blob/7e85e66ad917fb1269891367fa712207fd06f33e/api.go#L1130

In fact

[2015-11-14 23:03] mantenie opened #218 "Allow different types in one many-relationship"
In my case I have an ordered list of resources of different types.
I want to return them in a single reference array.

In my GetReferencedIDs I dynamically set the different types:
[code]

But the api returns in my ```path-elements``` field for every resource the same type and ignores the various types.

Example output:
[code]

[2015-11-14 23:40] wwwdata commented on #218
ok, in theory this should be a valid and doable case. I guess the problem is this line here: https://github.com/manyminds/api2go/blob/master/jsonapi/marshal.go#L248

can you check this and open a pull request? This must be changed so that it always takes the type out of the current `ReferenceID` item.

[2015-11-14 23:46] wwwdata commented on #217
hm, sorry for the late response. I will continue my huge refactoring stuff tomorrow and after that I can look into this issue as well or maybe @sharpner can take a look.

Or do you have an idea how to fix it? Would be awesome if you could write a small test for the wrong behavior and your fix for it.

[2015-11-14 23:48] wwwdata commented on #216
ok, this is an api thing, so a bugfix with a small testcase would be awesome. The refactoring mainly affects marshal/unmarshal stuff but I will have to adept to the new behavior in the api as well, but that should not change the whole thing, only minor stuff.

[2015-11-14 23:49] wwwdata commented on #214
can we close this issue? I also checked the behavior in my refactoring task. If you correctly marshal/unmarshal into the zero types in a struct, it leaves the values in it and overrides the `IsValid` status with false. So everything will be better after we get rid of our huge reflection madness.

[2015-11-16 22:37] #214 closed

[2015-11-25 17:03] wwwdata commented on #218
@sharpner what do you think about this? Normally one relationship should be of the same type, that's why we have the `Type` Field in our `Reference` struct. But we can easily allow this by just taking the type that is returned for the toMany Relationship.

[2015-11-25 17:04] wwwdata commented on #218
For the refactoring I am currently doing I am thinking about this too. I guess we don't need a type at all and it would be more useful to only specify the Name and whether it's a toOne or toMany relation, no more is needed.

[2015-11-25 17:21] wwwdata commented on #218
I opened a PR with the fix for you @mantenie
You should test it if this was what you meant and if it works for you now.

[2015-12-02 21:23] mantenie commented on #218
Looks good. Thanks for implementation.

[2015-12-02 21:24] #218 closed

[2015-12-03 21:01] wwwdata commented on #206
we will soon merge the refactoring in, after that your custom `jsonapi` tags are gone and we stick to the standard `json` tags. If you like @interlock we would really appreciate your feedback about the refactoring.

[2015-12-04 16:52] interlock commented on #217
The middleware handling I added with #152 makes this kinda painful to override as well. I don't suppose in this refactor we could slide the middleware handling closer to a chained handler? I know @kevpie had some thoughts on that. AKA, he didn't like my easy mode middlewares ;-)

[2015-12-04 20:20] xomaczar commented on #206
It's great to hear about the upcoming release of api2go.v1. Getting rid of jsonapi tags is great, however it creates a conflict for system where json serialization should differ from jsonapi format. Ignoring a given field I.e. SomeStructID from jsonapi will now require json:"-", which inadvertently will ignore this field when json.Marshal is called.

[2015-12-04 20:22] interlock commented on #206
@xomaczar In that case you can create a custom marshaller/unmarshaller to resolve that.

[2015-12-05 02:15] xomaczar commented on #206
Can you elaborate? Are you suggesting implementing a custom marshaller/unmarshaller for jsonapi resource - I was hoping api2go would do that

[2015-12-05 02:22] xomaczar commented on #206
I am embedding structs that have nothing to do with jsonapi, jsonapi is used solely for server/client interaction.

[2015-12-05 02:50] interlock commented on #206
I think a concrete use case description would help. You can override how encoding/json will choose fields by implementing  Marshall and Unmarshall. Not at a computer right now otherwise I would link to the golang docs for it. 

—
Sent from Mailbox

On Fri, Dec 4, 2015 at 6:22 PM, Andrey Khomenko <notifications@github.com>
wrote:

[2015-12-05 13:45] wwwdata commented on #206
@xomaczar interesting topic. Could you explain your use case so we can think about it? We want to make it right for the the version 1.0 of api2go.

[2015-12-10 11:40] arcijsg opened #222 "how to respond with json {"data": null} when GET single non-existing resource?"
Firstly, thanks for the great work - the code is a pleasure to read and a great source for learning to me!

jsonapi specification says:

    A server MUST respond to a successful request to fetch an individual resource with a resource object or null provided as the response document's primary data.
    null is only an appropriate response when the requested URL is one that might correspond to a si

[2015-12-10 12:40] wwwdata commented on #222
Hi, good catch, yes, I guess we completely forgot this use case. We will look into it.

[2015-12-10 12:40] sharpner commented on #222
thank you for using api2go.

You are doing nothing wrong, this is one use-case we currently missed. Thanks for reporting it.

[2015-12-10 12:54] wwwdata commented on #204
hm, this should also work after merging #202

[2015-12-10 15:56] wwwdata commented on #222
ok, the fix is easy, I looked into the code, we just have to remove the `nil` check in `jsonapi/marshal.go` but we should do this after we merge in the huge refactoring #202

if you want @arcijsg you can try out this branch too and check if  your app still works. You will have to change the annotations from `jsonapi` to `json` and manually name all your fields, but then it should work like before.

[2015-12-11 11:06] wwwdata commented on #206
closing this, we are using the standard `json` tags now.

[2015-12-11 11:06] #206 closed

[2015-12-11 11:07] wwwdata commented on #217
our big PR is merged and it's now possible to set the `ContentType` in the `API` struct.

[2015-12-11 11:07] #217 closed

[2015-12-11 11:07] #208 closed

[2015-12-11 11:09] #111 closed

[2015-12-11 18:44] xomaczar commented on #206
@wwwdata I apologize for the late response. Here's the use case I had in mind...
Imagine I have an external package (mine) with some models:
[code]
The default JSON marshalling/unmarshalling is used by projectA for communication purposes. Let's say there is a client proxy that it provides for talking to an external services which use JSON serialization/deserialization for sending payload/etc.
[cod

[2015-12-12 12:27] wwwdata commented on #206
ok that makes sense, basically you have two different marshaling/unmarshaling use cases that need to produce different results. One is the internal json format and the other is the external jsonapi compatible json format.

Currently our main struct for handling the data payload looks like this:

[code]

We just take the struct and marshal it into the `Attributes` field. Then we fill out the rest o

[2015-12-12 15:21] xomaczar commented on #206
@wwwdata reflect is what comes to mind - then how's it different from v0. I just wanted to showcase the usefulness of jsonapi tags

[2015-12-14 16:32] wwwdata commented on #222
ok I will start working on this, basically we have 2 use cases that must work:

empty collection:

[code]

empty single resource:
[code]

[2015-12-15 10:09] #204 closed

[2015-12-15 10:14] #222 closed

[2015-12-15 12:04] #216 closed

[2015-12-16 01:58] dopin commented on #204
Thank you! I will try it soon.

[2015-12-16 14:11] wwwdata commented on #185
what can we do to close this ticket? What function do you mean in our tests @dennisfaust?

[2015-12-16 14:23] wwwdata commented on #112
now that we have refactored the Unmarshaling part we can think about this again too.

What needs to be done to support everything form a clients perspective is the support for unmarshaling of included/compound objects, right? So we need a way to specify more than the one target to unmarshal into. We need some good solution to pass target's for expected included objects too. The unmarshaler will th

[2015-12-16 21:47] dennisfaust commented on #185
This can be closed now. I was referring to the below, which I added to my test helper file and found it useful:

func buildApi2GoRequest(c api2go.APIContexter, r *http.Request) api2go.Request {
	req := api2go.Request{PlainRequest: r}
	params := make(map[string][]string)
	for key, values := range r.URL.Query() {
		params[key] = strings.Split(values[0], ",")

	}
	req.QueryParams = params
	req.Header

[2015-12-16 22:41] #185 closed

[2015-12-17 14:30] Moddus opened #229 "Basic Auth"
Hi there,
i want to add basic auth to my api. Actual i'm using your ```func (api *API) UseMiddleware(middleware ...HandlerFunc)``` function. For my test case i'm using the following implementation:

[code]

This implementaion should reject all api call and respone with "authorization failed". But in this case the routing process of api2go is still on.
My question: Is there a way to define a middle

[2015-12-17 14:35] sharpner commented on #229
You can wrap your handlers before registering them,
did you have a look at #22 already?

If you need this done in a middleware, I currently no out of the box feature for it.

[2015-12-17 16:15] Moddus commented on #229
Yes, i've looked at #22. What about thinks like ```AddResource``` how I'm possible to wrap this kind of things ?

[2015-12-17 16:32] sharpner commented on #229
Let me try to explain by using some code:
[code]

where
[code]
could implement basic auth.

This would count on all requests though. Do you need it only for specific context?

[2015-12-17 17:09] Moddus commented on #229
Now i got it ! Thanks **sharpner** for your help. I really appreciate it.

[2015-12-17 17:09] #229 closed

[2015-12-17 17:54] sharpner commented on #229
Glad I could help ;-)

[2015-12-18 10:30] arcijsg commented on #222
Thanks a lot - it's nice to have a reply and a fix so soon! :)
Switched to using 10.-RC1 branch and it's working very well!

[2015-12-18 13:55] sharpner commented on #222
thanks for the feedback! Much appreciated :-)

[2015-12-30 19:32] abrykajlo opened #230 "/x/net/context based routing"
I have been working on an old fork of ours to convert your routing system to make using golang.org/x/net/context a lot easier for extending functionality of api2go with custom routes.

Only thing is it would introduce breaking changes on routes and middleware. The nice things is that it would allow any new routes to have access to whatever the middleware sets in the context.

Let me know what you

[2015-12-31 14:07] twisted1919 opened #231 "Middlewares should allow ending a request."
Right now if you write a auth middleware and you want to stop processing in it because the user credentials are not correct, you can't do that.

In gin i can do:
[code]
Which allows allows me stop going to next middleware if i want to, but with api2go i don't see how to do this...
[code]
Let me know if i am missing something here.
Thanks.

[2016-01-04 10:25] wwwdata commented on #231
Yes, you are right, the context is not entirely implemented. Do you want to work on improving that?

[2016-01-04 16:25] twisted1919 commented on #231
@wwwdata - My GO skills are not there yet, i wouldn't want to do something stupid.

[2016-01-04 16:42] wwwdata commented on #231
everybody starts at some point. Even if your go skills are not advanced, just go ahead and practice stuff. We will support and help you and it doesn't matter if you change some things a thousand times :) As long as you also write tests, the coverage is ok, and all our automated tests are passing, what could go wrong?

I guess this ticket also relates somehow to #230
In order for a context to be us

[2016-01-04 16:48] wwwdata commented on #230
hi, yes that makes sense. Currently, the Context can only be reached in our CRUD functions, because you can get it out of the `Request` struct.

We just have to make sure that everything all the [api2go-adapters](https://github.com/manyminds/api2go-adapter) works with that too.

[2016-01-04 18:11] interlock commented on #231
Indeed, we did the least amount to get it to work for our needs. Initially we tried to sneak the GIN style context in, but we decided it was coupling too tightly and pulled back.

An interesting conversation followed at Picatic at the time. net/context is actually more about the context of the handling the network request/connection. In this case @twisted1919 needs, we should really be passing alo

[2016-01-05 18:43] abrykajlo commented on #230
So if I manage to get api2go-adapters working with my solution would you consider it a viable solution @wwwdata

[2016-01-06 15:49] wwwdata commented on #230
yes. What do you think about it @sharpner ?

[2016-01-07 07:30] sharpner commented on #230
yeah that would be awesome. Also I agree, it has to work with the routers. But BC breaks are not that problematic at the moment.

[2016-01-07 17:28] abrykajlo commented on #230
Cool I will work on this then

[2016-01-07 20:23] sharpner commented on #230
thank you! Much appreciated!

[2016-01-15 11:57] tanmayambre opened #232 "Fetching sparse field sets"
How can I fetch particular fields from a resource.
Is this already implemented in api2go or I have to implement it in findOne /FindAll interface
http://jsonapi.org/format/#fetching-sparse-fieldsets

[2016-01-15 12:01] tanmayambre commented on #232
Found Related issue Sparse Fieldsets example #183

[2016-01-15 12:01] #232 closed

[2016-01-19 16:20] tanmayambre opened #234 "Updating Resource relationship throws 406 attributes is mandatory"
Hello
I refer to you to the following specification.
http://jsonapi.org/format/#crud-updating-resource-relationships.

I am trying to update relationship via curl using the spec mentioned. Note that there are no "attributes"  to be updated in the third curl request only a "relationships".

I used the provided crud_example.go to test this.
[code]
The last request should have returned a 204 No Conte

[2016-01-19 16:32] wwwdata commented on #234
you are right, the update method now always expects an `attributes` object. We forgot the use case where we only want to replace all the `relationships` of a resource.

if `attributes` is added, it works
[code]

apart from that, you can also use the dedicated routes to manipulate relationships which should be working correctly (because we have tests for them).

So, for example this is working as w

[2016-01-19 16:37] wwwdata commented on #234
we implemented it wrong, it's totally fine to leave out an `attributes` object:

relationships: a relationships object describing relationships between the resource and other JSON API resources.

the incorrect check is in the `jsonapi/unmarshal.go` file inside the `setDataIntoTarget` function.

[2016-01-19 17:14] tanmayambre commented on #234
Thanks for the response. While you are solving it the api should probably return 406 when "type" is not included. Probably you are solving it already.
Currently POST without type
[code]
returns
[code]

Similarly ID field will also require checked for request that are not POST .Currently this happens.
[code]

[2016-01-19 17:14] wwwdata commented on #234
thx! We will fix all of these issues

[2016-01-26 15:57] arcijsg commented on #230
I'm really looking forward too for ability to define alternative routes and still benefit from the data that is available to api2go automatically - defined resource routes.

For example, to be able to POST to /order/11/line instead of (or additionally to) posting to /lines and adding order id as a relationship in the POST body)

[2016-01-26 16:05] abrykajlo commented on #230
@arcijsg I am doing what I can for this. We are using api2go at work and it's seems like it might become a priority to get this done. Work has been busy.

[2016-01-28 18:48] dennisfaust opened #236 "Update documentation."
The documentation is out of date. Using the encoding/json marshal, unmarshal etc. has made a couple of sections incorrect:

- the struct settings jsonapi:"" are now deprecated in favor of json:""?
- The section on using pretty marshaling is now incorrect or superfluous?
- api2go.NewAPIWithMarshalers doesn't exist anymore.

[2016-01-28 18:56] sharpner commented on #236
thanks for the hint!

[2016-02-01 21:34] dennisfaust opened #238 "Struct tag "omitempty" not working?"
According to the encodings/json documentation (https://golang.org/pkg/encoding/json/#MarshalI) it should be possible to use a tag like 'json:"password,omitempty"' to keep the password field from being included in the response at all. However, that is not the current behavior. Is this expected?

[2016-02-01 21:54] wwwdata commented on #238
if the field is empty, it should be omited. But if you want to always exclude it, I would recommend to use the `json:"-"` tag which always excludes the field. Can you give an example?

[2016-02-01 22:27] dennisfaust commented on #238
I'm working with a password field. I want it to be accepted so I can encrypt it and then save the encrypted value in another field. There is no password field in the db. Preferably, I'd be able to use the tag above, do my encrypting in the BeforeSave(), clear the password value with null.String and then have it not appear in the JSON returned payload. But that's not happening. Instead, I'm getting

[2016-02-01 23:37] wwwdata commented on #238
ah, so you are using the database null types. Maybe that is the issue. This is a struct and I guess the default Marshaler of go doesn't know it's empty value. I guess it works with a pointer and this stackoverflow thread says so as well: http://stackoverflow.com/questions/24345621/marshal-sql-nullstring-with-omitempty

Of course implementing a custom Marshaler will also work, but just using a poin

[2016-02-02 00:23] dennisfaust commented on #238
I tried a nil pointer as well and the value was still in the response. Turns out that our client depends on that so it's not an issue for now. I'll look into it further when we next need to suppress a response.

Thanks!

[2016-02-02 06:43] sharpner commented on #238
Yeah a pointer and omitempty should do the trick. But since it is not an issue for you anymore I'll close it.

[2016-02-02 06:43] #238 closed

[2016-02-02 07:40] #236 closed

[2016-02-11 01:56] gabesullice commented on #152
@theduke care to share? I'm in the same boat.

[2016-02-11 06:33] sharpner commented on #152
You can set the ContentType at your API object:-) see api_public.go

[2016-02-11 16:42] gabesullice commented on #152
I think the thread got a little jumbled, I was asking in regards to #152.

For future reference, this is how I got it to work:

[code]

[2016-02-11 16:44] sharpner commented on #152
Ah awesome!

[2016-02-12 10:43] tanmayambre opened #240 "Location header returns 2 forward slash "//users/1" Is this correct behaviour?"
In crud_example.go code I stared the NewApi("") with no prefix as below
[code]

Made a POST request as follows
[code]
I was expecting the Location header to be `/users/1`.
Currently it adds a extra forward slash. `//users/1`
Is this the correct behaviour?

[2016-02-12 12:58] wwwdata commented on #240
looks like a bug, we need a test and fix for this.

[2016-02-12 16:24] wwwdata commented on #234
i will also work on this this weekend, or do you already have fixed it and can open a PR @tanmayambre ?

[2016-02-13 17:34] #240 closed

[2016-02-15 11:35] tanmayambre commented on #234
Hi I don't have a solution currently. I will try solving it this week

[2016-02-16 13:47] #234 closed

[2016-02-24 20:46] tochiai opened #243 "handleRead hardcodes http.StatusOk as status code"
It is not possible to set a response status code via the [`response`](https://github.com/manyminds/api2go/blob/master/api.go#L465) returned by `FindOne`; the status code is set to [`http.StatusOk`](https://github.com/manyminds/api2go/blob/master/api.go#L471). Would it be possible to add logic in `handleRead` to try to use `response.StatusCode()`?

[2016-02-24 20:58] sharpner commented on #243
The specification of jsonapi only specifies 200 for OK and 404 for not found. http://jsonapi.org/format/#fetching-resources

Could you describe your problem a little bit?

[2016-02-24 22:10] tochiai commented on #243
I was trying to follow this pattern for asynchronous processing
http://jsonapi.org/recommendations/#asynchronous-processing

Glossing over some name changes, I'm basically trying to implement the part where a 303 is returned for `GET /photos/queue-jobs/5234`.

My reading of the spec allows for other status codes when fetching a resource, what do you think?
http://jsonapi.org/format/#fetching-resou

[2016-02-24 23:01] wwwdata commented on #243
you are right, I looked at the code and this is a bug.

Theoretically you should be able to set a status code in the `Responder`, but in our `FindOne` method of the api, we always set a 200 which is not right. We have to change this.

[2016-02-25 07:52] sharpner commented on #243
Regardless of wether it is a bug or a feature, the next problem will be to implement the "see other" location header. But I'm working on it. If you can live without the self link which is handled in #99 it should be done soon. :-)

[2016-02-25 18:45] sharpner commented on #243
@tochiai I implemented most of the basics in #244 if you want you can test it. But its not yet possible to perfectly implement it.

[2016-03-22 17:05] derelk commented on #136
I'm having the same issue as well. The concept of links is not limited by the spec to just "self", "related", and pagination, and it would be really useful to be able to include arbitrary domain-specific links, particularly on resources. The Twitch API for example has a number of arbitrary links fields.

[2016-03-22 17:06] derelk commented on #136
Sorry, just realizing I misunderstood the initial issue. I could file this as a separate request, but it broadly seems like links could be improved to be more flexible.

[2016-03-22 20:07] sharpner commented on #136
hi! please open up another ticket, that would make things easier for us

[2016-03-22 20:18] wwwdata commented on #136
why another ticket i don't get it he means the same right? to just add meta stuff into relationships

[2016-03-24 22:06] derelk commented on #136
No, I'm talking specifically about allowing arbitrary keys and values in the links objects, which have nothing to do with relationships. The current implementation really only allows for links to contain `self` and `related` as far as I can tell, but the spec doesn't restrict links to these two concepts. I will open another ticket.

[2016-03-24 22:10] wwwdata commented on #136
i was meaning the same, arbitraty stuff, that's why the `Meta` in the struct was suggested as `map[string]interface{}`

[2016-03-24 22:35] derelk commented on #136
You're talking about a `meta` field; I am talking about the `links` field.

[2016-03-24 22:39] derelk commented on #136
e.g. this should be possible
[code]

[2016-03-24 22:39] wwwdata commented on #136
ok :) can you help to work on this feature?

[2016-04-23 10:44] timrourke opened #246 "How to opt in/out of sideloading relationships?"
I'm looking for a way to implement jsonapi's `include` query param, as described [in the jsonapi spec.](http://jsonapi.org/format/#fetching-includes) My goal is to include a related entity's IDs by default, and opt into including the entire struct in the json payload by using the `include` query param.

I saw [the IsNotLoaded flag](https://github.com/manyminds/api2go/blob/master/jsonapi/marshal.go

[2016-04-23 10:54] wwwdata commented on #246
`IsNotLoaded` only indicates, that you want to omit the `data` part. Because if you are sending an empty `data` object, it means that there are NO relationships. So if you skip it, it means: It's uncertain if there is related data, the client must find out with another Request.

In order to include Reference-IDs you should just return them with the `GetReferencedIDs` method in your resource model

[2016-04-23 11:20] timrourke commented on #246
@wwwdata thanks so much for the speedy clarification. That clears things up quite a bit!

I see that by simply implementing the `GetReferencedStructs` interface in my model, the relationships are automatically sideloaded. Do you have any recommendations about allowing the API consumer to opt into sideloading those relationships in a single request? Again, I feel like I'm overlooking something obvi

[2016-04-23 11:26] timrourke commented on #246
Ah, I see it here: [https://github.com/manyminds/api2go/blob/0f0aba686fffe91897ee4b7e1d682efbfcbac7fd/jsonapi/marshal.go#L127](https://github.com/manyminds/api2go/blob/0f0aba686fffe91897ee4b7e1d682efbfcbac7fd/jsonapi/marshal.go#L127)

So it seems that if I want to explicitly opt into this behavior, I'll need to handle the `GetReferencedStructs` operation manually?

[2016-04-23 11:32] wwwdata commented on #246
yes, you would have to check for the query  parameters and if present, implement some behavior that your `GetReferencedStructs` method returns the embedded structs.

[2016-04-23 11:32] timrourke commented on #246
Thanks!

[2016-04-23 11:32] #246 closed

[2016-04-25 08:03] arcijsg commented on #230
@abrykajlo, did You have a chance to find a solution, or a different approach has emerged since?

[2016-06-06 18:38] mkaminski1988 opened #249 "Program panics with heterogeneous relationship types"
This problem is similar to the one described in issue #125. In this case, the program panics when a relationship is defined with multiple resource types. I've forked @tanmayambre's test repository and fixed it up to reproduce the issue. It's available at https://github.com/mkaminski1988/testapi2go.

Let's say I want to define an Author with a relationship named `works` that contains types `books`

[2016-06-06 20:30] sharpner commented on #249
you are correct.
Two identical names in get reference ids currently crashes api2go. I haven't looked further into this issue yet, but it is definitely an interesting point.

[2016-06-06 20:32] mkaminski1988 commented on #249
I have a fix, would you be interested in a pull request?

[2016-06-06 20:42] sharpner commented on #249
of course! That would be amazing. Preferably with a corresponding test :-)

[2016-06-14 20:32] jlburkhead opened #250 "Ability to specify whether relationships are plural"
Currently relationships are determined to be to-one or to-many by [checking if the `ReferenceID.Name` field is plural](https://github.com/manyminds/api2go/blob/master/jsonapi/marshal.go#L216). `Pluralize` uses https://github.com/gedex/inflector to determine the plural name which is a port of the CakePHP inflector library. There are some edge cases which are pluralized incorrectly in the [CakePHP i

[2016-06-14 20:36] wwwdata commented on #250
hi, yes that makes sense! We would highly appreciate it if you could open a pull request with tests for this, thank you!

[2016-06-16 09:21] trungpham commented on #231
Any update?

[2016-06-16 18:28] wwwdata commented on #250
pull request was merged, closing the issue now, thanks again!

[2016-06-16 18:28] #250 closed

[2016-06-19 22:00] sunprophit opened #253 "DB connection in middleware"
It was mentioned in doc middleware could be used to setup db connection, for example to pass it to context. How db connection could be closed in such case?

[2016-06-20 07:29] sharpner commented on #253
It really depends how you handle your connection (e.g. are you using a connection pool). Can you be a little bit more specific?

We are also planning to implement #231 somewhere in the near future :-)

[2016-06-20 07:30] sharpner commented on #231
maybe it's time to build this ourselves :-) unless you have a PR ready

[2016-06-23 11:26] joeblew99 opened #254 "newbiew question"
I am using goa (https://github.com/goadesign) at the moment. Its allot like api2go !

Goa design also supports the JSONAPI standard too.

So i am kind of comparing the two and seeing what each can offer and also what they can learn from each other.

But from what i can see api2go is using runtime reflection, where goa is using code gen.
Big significant difference. I just wanted to know from the te

[2016-06-23 11:35] sharpner commented on #254
well if you can use code generation over reflection you have probably the faster and more robust alternative.

But as far as I can see goa allows you to create an api manually that confirms the jsonapi standard, but api2go automatically creates all those routes for you so you do not have to know how the jsonapi standard is defined.

Maybe your question is better asked on stackoverflow where someon

[2016-06-23 11:37] sharpner commented on #254
One thing to add: goa seems to be a complete framework that specifies how you have to do things, whereas you can use api2go together with different muxers, routers, etc...

[2016-06-23 11:48] #254 closed

[2016-06-29 16:21] #253 closed

[2016-07-04 01:51] TylerPachal opened #255 "Mandatory JSON fields"
I have a few models that have `not null` sql columns:

[code]

Right now if someone passes in a JSON object which is missing one of these fields, the error will be handled by the database.  However I would like to handle the missing fields at the model unmarshalling level.  Is this possible?

[2016-07-04 07:11] wwwdata commented on #255
Hi,

with the build in Unmarshaller of Go, this is not possible, because it does not support validations like your sql driver.

What you need is some sort of custom validation for your struct. If you directly want to validate it during Unmarshaling, it can be achieved by implementing the `Unmarshaler` [interface](https://godoc.org/encoding/json#Unmarshaler). You could add specific logic for valida

[2016-07-05 16:30] TylerPachal commented on #255
I ended up implementing the Unmarshaler interface.  Thanks.

[2016-07-05 16:30] #255 closed

[2016-07-25 10:31] brentmurphy opened #256 "Singular Resources"
Hi,

Does api2go provide a way of handling singular resources? For example, a mapping to the following route:

[code]

[2016-07-25 11:01] sharpner commented on #256
You mean out of the jsonapi context?
You can simply add custom routesto your router/muxer.
[code]

[2016-07-25 11:35] brentmurphy commented on #256
Ok thanks. This is quite a common requirement for the project I'm currently working on (migrating from a Rails codebase). Is there anything in the roadmap for handling this kind of request, or is it just outside the scope of JSONAPI?

[2016-07-25 11:39] wwwdata commented on #256
this is outside the JSONAPI scope. So like @sharpner said you can add stuff with your own routes as well. You can get the router instance and register your own routes on it as well http://godoc.org/github.com/manyminds/api2go#API.Router

[2016-07-25 11:39] sharpner commented on #256
We are currently actually thinking about an easier way to create subroutes for objects because we need this for #244 . But I don't think it will come in the near future because we could not find a clean generic way yet..

[2016-08-11 13:14] arcijsg opened #257 "Creating a related resource"
First of all, thanks for the great library - it's nice to see how this project evolves and how responsive the authors are.
For me it is a good example on how to drive a small open-source project.

Moving on to the question - i'm creating a simple invoicing api, where we have three main resources:
`/invoices` - is the main, self-sufficient resource:
client creates an empty invoice draft by POSTing

[2016-08-11 13:43] sharpner commented on #257
hey :) glad you like the library!

We are already thinking about integration of custom subroutes, but have not yet found a clever way to do this.

The issues #244 #256 are already waiting for it, so we will support it somewhere in the future, but it might take a while :)

If you have an idea, feel free to send us a PR!

[2016-08-11 13:51] arcijsg commented on #257
Thanks for the quick response!

I'm afraid i still have too little knowledge on how to properly program in Go to do a contribution yet, but i'm really looking forward to the solution :)

[2016-08-24 23:09] carlisia opened #259 "Question: relationship data array not getting populated"
If my relationship data array is not getting populated, what is it that I should be doing but probably am not? Any tip?

[code]

[2016-08-24 23:33] carlisia commented on #259
Aaaaand I just figured it out (of course). The problem was the values I had for the Type and Name ReferenceID struct fields were different for the `GetReferencedIDs` and `GetReferences` methods.

Closing.

[2016-08-24 23:33] #259 closed

[2016-08-27 09:43] 256dpi opened #260 "PATCHing a reference that is not loaded should return a 403"
Hi, I found a small inconsistency while working on [fire](https://github.com/256dpi/fire).

Let's say I have a model that exposes a HasMany relationship that is not loaded:

[code]

This will omit the `data: []` attribute from responses to the following URL to fetch the relationship:

[code]

First of all: Is this even allowed by the spec or should this call return an error?

In any case the said

[2016-08-27 09:56] wwwdata commented on #260
Hm, indeed this is a problem. The main problem is that we just call the `FindOne` method of the resource which in this case most likely behaves like a normal request with embedded relations.
Currently this could be avoided by checking the url path in the request which should include the url part `relationships` but a more dedicated resource method to fetch relationships would be better, right?

We

[2016-08-27 10:21] 256dpi commented on #260
Yes, a method on the resource that is responsible for fetching such relations would be the way to go.

I'll look into submitting a PR for fixing the bug first.

[2016-08-29 09:18] 256dpi opened #262 "Package Audit & Version 1.0 milestone"
I would like to make an audit of the whole package before considering an 1.0 release. This package forms the basis of a couple of projects I'm working on. In that sense I'm very interested in achieving a nice and stable API surface for the future.

Could you elaborate on you plans of releasing a version 1.0?

What would be good structure to work on that for you? Should I create Issues and PRs for

[2016-08-29 09:20] 256dpi commented on #262
I'm raising this because I have my next PR https://github.com/256dpi/api2go/commit/8fd91b2f8a01afd13422e77c2d7b56a06eb840a6 already in the pipeline. ;)

[2016-08-29 16:25] wwwdata commented on #262
In my opinion we should merge #261 and decide what needs to be done for a version 1.0 and create tickets for all things and link them to a Milestone 1.0. If we are ok with the new API and everything that's accessible from the outside, we should release 1.0 and then also keep that public API stable until a version 2.0 where it's allowed to break things. From there on, we should only add stuff to no

[2016-08-30 08:09] 256dpi opened #263 "jsonapi: Export Errors"
As only two of many errors are exported, they will be removed with #261 to be concise.

This issue should track the discussion about how errors should be exported again and therefore handled in calling go applications.

From a quick scan I came up with the following classes of errors:
- Bad Payload (wrongly formatted JSON API documents)
- Invalid Target/Source (required implementation of interface

[2016-08-31 08:49] sharpner commented on #263
Although I really like [pkg/errors](https://godoc.org/github.com/pkg/errors) I am not sure if a library like api2go should force such a framework onto the user, even if its small and helpful. I think we should expose simple standard library errors, as you suggested in your first paragraph, but without the wrapping part.

[2016-08-31 08:58] sharpner commented on #262
okay we agreed on this approach. So master will be unstable for a while. :-) I really like your next PR, the names make much more sense.

[2016-09-04 21:18] RPiAwesomeness opened #264 "PATCH is shown as allowed when doing an OPTIONS request, but returns "405 Method Not Allowed" when a PATCH request is attempted"
I understand that this may not be an api2go issue, perhaps just an issue with my implementation, but I am working on a project utilizing `api2go` and RethinkDB.

As the bug title says, when I make an `OPTIONS` request to the endpoint `PATCH` is listed in the `Allow` header. However, if I attempt to make a `PATCH` request to that endpoint, I get a **405 Method Not Allowed** error back:

![selection

[2016-09-04 21:26] RPiAwesomeness commented on #264
Here's my Update method currently:

[code]

[2016-09-04 22:21] wwwdata commented on #264
what exactly are you sending as payload in your request? I don't understand the screenshot. What also confuses me is the Content-Type that says `text-plain`

Updating should work with api2go, I just ran the example project and it was working fine in there.

[2016-09-05 18:20] 256dpi commented on #262
Sorry for taking so long to get back to you.

While reading the api2go source code to identify further improvements, I realized that the current concept of using interfaces to outsource detailed implementation will always be a limitation for my project. In that sense I had to decide that I will concentrate on a custom jsonapi implementation that is tailored for my needs. You can find it here: http

[2016-09-05 18:20] #262 closed

[2016-09-11 01:01] RPiAwesomeness commented on #264
@wwwdata Sorry about the delay, I started school this week and haven't had time to work on my project.

As for what I'm sending as payload, I've tried sending the payload two different ways:

* In the URL, in this form `localhost:8000/v1/users?username=RPiAwesomeness`, via httpie
* Without anything, via curl: `curl -X PATCH http://localhost:8000/v1/users`
* In JSON, via the Python requests module

[2016-09-11 01:09] RPiAwesomeness commented on #264
@wwwdata I'm sorry I wasted your time. I've realized what my mistake was. I was trying to make a `PATCH` request to the `/v1/users` endpoint, which obviously shouldn't allow a `PATCH` request, since it's returning all of the records related to that endpoint. `PATCH`-ing to `/v1/users/<ID>` works just fine.

One thing I **did** notice is that this happens if I `PATCH` without any data to `/v1/users

[2016-09-11 08:30] wwwdata commented on #264
I guess that could be an error from your method that updates the database? Because api2go does not output any error messages that mentions rows.

[2016-09-11 18:23] RPiAwesomeness commented on #264
@wwwdata Really? That's weird, because the code I have for that doesn't actually do anything, it just returns an empty Response reference: `return &Response{Code: http.StatusOK}, nil`.

[2016-09-11 18:41] wwwdata commented on #264
It cannot come from our code.. you can search for `row` in it yourself and won't find anything.

Before actually getting to your Patch/Update Method, a `FindOne` get's called. And that can also trigger the database error. See; https://github.com/manyminds/api2go/blob/master/api.go#L617

https://github.com/manyminds/api2go/blob/master/api.go#L615-L620

[code]

[2016-09-12 11:24] RPiAwesomeness commented on #264
Aha, that might be what's causing it. Strange that it is causing the whole program to crash. I will look into this, thanks for the help :)

[2016-09-14 13:10] tscs37 commented on #231
For anyone facing this issue, a very crude workaround is to write a HTTP Handler that proxies the api2go handler. This allows one to abort request.

Short example:

[code]

[2016-09-14 20:19] wwwdata commented on #264
so, did you find the issue in your code and can we close this @RPiAwesomeness ?

[2016-09-15 01:54] RPiAwesomeness commented on #264
@wwwdata Oh, yes. My bad!

[2016-09-15 01:54] #264 closed

[2016-10-20 04:03] freshtonic opened #267 "Make it possible to implement only a subset of the CRUD interface"
Not all HTTP verbs and routes are relevant to all resources.

If I submit a PR for an alternative `addResource` function that introspects the resource for a subset if the `CRUD` methods and generates only the corresponding routes is this something that could be merged?  I'm happy to do the work.

[2016-10-20 05:18] wwwdata commented on #267
Hi. Of course that would be a nice feature.

[2016-11-10 13:00] carlisia opened #269 "Questions about creating associations"
Hi there,

I am trying to create an entity and 1.* associations for this entity. The entity gets created but none of the associations do, on the response body I only get back an array of the IDs for the associations with zero values:
[code]

Question 1)
What could I be doing wrong?

Question 2)
Is there a way to prevent the entity from being created if there was a problem creating its associations

[2016-11-10 14:31] carlisia commented on #269
Nvm about this, I was failing to insert the associated records in the database.

[2016-11-10 14:31] #269 closed

[2016-11-11 13:31] carlisia opened #270 "Is it possible to "create" associated resources at the same time as the main resource?"
I'm hitting a post endpoint for a resource that has a relation. To use your example, it would be much like posting a user that has data for two chocolates.

I notice that the resource `user` gets created, but not the associated `chocolates`.

I am now doubting that this is even possible and would love it if you could confirm one way or the other. When I look at your example for a post, I see that

[2016-11-11 14:29] wwwdata commented on #270
Hi,

this should work, however the example is very basic and I haven't implemented that in the code. I will try to add this feature in the example and extend the example tests to verify that this really works when implemented.

[2016-11-11 14:43] carlisia commented on #270
Hey @wwwdata I'd appreciate that. Especially since the alternative is to create one resource then make individual api calls for each relation.

I think I was very diligent in making sure I was doing everything correctly, so I'm looking forward to the results of your test.

[2016-11-11 14:57] wwwdata commented on #270
I found the problem in our examples. As expected I just made a mistake. When reference IDs are in the payload, the `SetToManyReferenceIDs` and `SetToOneReferenceID` depending on the reference should be called in your resource model. Depending on what you do there, this should be working.

[2016-11-11 15:20] carlisia commented on #270
Ok I will make that change. But still, I noted that in the updated example the ID is `1` (https://github.com/manyminds/api2go/pull/271/files#diff-f6c08d9b83fa8e3e50949d71d299271dR223). But it can't be `1` in real life because it hasn't been created yet. So it will always be zero, correct?

[2016-11-11 15:25] wwwdata commented on #270
ah, now I understand what you mean. You want to create the user and new referenced data in one request. So one user and 2 chocolate datasets. Hmm. Are you trying to send the chocolates in the `included` part of the JSON?

I think there also is no official example in the jsonapi.org spec, right? They only have examples with reference IDs.

[2016-11-11 15:30] carlisia commented on #270
That is precisely what I'm trying to do.

[2016-11-11 15:33] carlisia commented on #270
Yes, the chocolates are in the `included` part of the JSON. That's actually how api2go spits it out after the struct (user) with the slice of associated struct (chocolates) is marshalled.

[2016-11-11 15:35] wwwdata commented on #270
api2go cannot do that for now. Unmarshaling is only working with IDs. One other problem we have is how we manage the IDs of the new chocolates. The `included` section can include many references. There also also scenarios possible where the same `included` types can belong to different relationships.

We should look a bit more into the jsonapi specification if anything is specified how to do this

[2016-11-11 15:41] carlisia commented on #270
Hm. This is interesting. Looking now I see that they specify how to do a post with an association if it is something like, posting a `chocolate` with an association back to the `user`: http://jsonapi.org/format/#crud-creating

Nothing yet on how to do it the other way around.

[2016-11-11 15:44] sharpner commented on #270
This feature seems to be planned for 1.1 http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23 but we currently only support 1.0 at the moment..

[2016-11-21 21:43] joeshaw opened #272 "Handling errors outside of CRUD handlers"
I'm new to api2go and I'm really struggling to figure out how best to handle errors outside of the standard CRUD handling methods on resources.

For instance, if I have middleware, I'd like to be able to intercept requests but still return nicely formatted error JSON to clients.  However, there doesn't appear to be any exported way to do that in the library.

I'd expect to do something like `api2g

[2016-11-22 14:46] gnewton opened #273 "Dealing with large numbers of relations"
I have a scenario where I have an item with many (like 10s of thousands) relations. I do want them exposed, but not all in one GET as that would be a huge payload. Is there a way to do this using this library? Actually, is this possible in the jsonapi (I know, not really your problem). From what I see, this cannot be captured with any sort of paging that jsonapi offers....

Thanks,
Glen

[2016-11-22 15:01] sharpner commented on #273
There was a draft for a bulk extension IIRC https://github.com/json-api/json-api/blob/9c7a03dbc37f80f6ca81b16d444c960e96dd7a57/extensions/index.md

But they are in the process of rewriting this so no support at the moment...

There is always the possibility to simply set the field with the relations to ignore. But do you need those relations later on?

[2016-11-23 07:23] wwwdata commented on #272
The middleware is running before our routing and resources. The `api2go.NewHTTPError()` is currently a helper for our internal routes/api stuff.

But you can just use the `Error` and `HTTPError` structs and `json.Marshal` them by yourself. We are doing nothing else. The middleware only has access to the context and not the `*API` itself.

[2016-11-23 14:10] joeshaw commented on #272
Ok, cool, thanks for the info.

I am doing the `json.Marshal` locally now, but it feels a little awkward.  Would you consider exposing the `marshalHTTPError` function to make this a simpler thing to do?

My thinking behind this is that I'm of the opinion that a JSON API should *always* return JSON objects, even in the case of error.  The extreme example is that even a 404 error for a wrong API end

[2016-11-23 18:09] wwwdata commented on #272
hm, yes I guess we can make that public, right @sharpner

What I also noticed is that `marshalHTTPError` converts `[]byte` to a `string` only to be converted back to a `[]byte` when it's used in the `api.go` file 😂  so we should let it be a `[]byte` like one would expect.

[2016-12-02 05:24] junwufan opened #274 "go 1.7 context"
please replace "golang.org/x/net/context" to context

[2016-12-02 11:55] wwwdata commented on #274
we should upgrade this and therefore only be compatible with go >1.7.x @sharpner right?

[2016-12-02 16:16] #274 closed

[2016-12-07 16:06] bf4 commented on #272
@joeshaw re auth, you can treat it like a sessions resource

If there's no resource at the endpoint, then the response shouldn't have errors.  I'm imaging a request and response that only have meta.

Could you provide an example request and what the library is returning and what you'd like it to?

[2016-12-07 20:11] joeshaw commented on #272
The way I came to it was that I wrote middleware that caught panics and returns a 500 error.  If you are calling a resource and it panics, you want a JSON response with an error response.  This is what it ended up looking like:

[code]

Ideally, after constructing the `HTTPError` I'd like to be able to do something like `api2go.MarshalHTTPError(rw, e)` and skip setting `e.Errors`, encoding the JSO

[2016-12-08 05:31] genexp commented on #270
This seems like a common problem.  I found several folks complaining about the lack of atomicity in create calls to JSON API.  My solution was the same as @carlisia, I'd like to post the main object, and it's related object in the included array.

Like @carlisia i think the simple solution would be to include the entire object (in raw format) as part of the request object (or the object, object) s

[2016-12-12 23:17] carlisia commented on #270
It seems that this is the issue where this feature is being discussed: https://github.com/json-api/json-api/issues/1089

[2016-12-14 05:33] fhals opened #276 "Adapter to Iris Framework"
Is there any way to connect api2go to [iris](https://github.com/kataras/iris)?

[2016-12-14 06:41] wwwdata commented on #276
Do you want to look at iris and if it's possible? Writing a connector is easy and straight forward. You can look at another one as an example.

[2016-12-14 08:00] sharpner commented on #276
since iris uses a copy pasted version of julienschmidts router, I think it should be possible, but never tried it ;)

[2016-12-14 08:02] wwwdata commented on #276
I am currently looking into it. It's possible. Will do a PR for @fhals to test when I'm done

[2016-12-14 08:12] wwwdata commented on #276
Currently thinking about fasthttp. They use that instead of the standard net.http package from go and it's not compatible per default. We will have to work around that. That's the main part of the adapter

[2016-12-14 08:28] wwwdata commented on #276
So after really looking into it: the main issue is to make api2go fasthttp compatible to also support iris afaik

[2016-12-14 08:39] wwwdata commented on #276
https://godoc.org/github.com/valyala/fasthttp/fasthttpadaptor is also an option, but I guess this kills the performance when we convert the net/http stuff to fasthttp for every request. So the only good solution would be a api2go fasthttp compatible version

[2016-12-22 16:44] fhals commented on #276
Yes, I do agree. Connecting to fasthttp would be better.  And I just know that there is controversy with author of Iris, so actually more people will use other framework such as [echo](https://github.com/labstack/echo)

[2016-12-26 16:07] zlepper opened #280 "Adaptor for Echo framework"
I would love to see support for the (echo)[https://github.com/labstack/echo] framework too, so we could use that without issues.

A lot of the practice between echo and gin should be the same, so I don't think it would be the biggest problem to make an adapter for, like the gin adapter.

[2017-02-18 18:01] dalu opened #282 "question: toOne"
my javababble and sql relationship terminology is a bit rusty as I've just worked with mongo for a while.
So I have a question about those relationships and an example.

I'm trying to write a simple testprogram using api2go.

The models look like:
[code]

So I have a PostID field on the Comment struct.
I do **not** want to have a commentIDs slice on the Post struct.
Is this possible with api2go? W

[2017-02-18 23:42] wwwdata commented on #282
Hi, the `SetID` method has a pointer because we write the ID into the `User` struct. Otherwise this would not be possible. And yes it's  up to you if you want to use pointers everywhere or not.

You also don't need to have commentIDs in the Post struct. It's up to you how you manage that. You just need to implement the interface methods that will be called by the marshaler to determine whether the

[2017-02-19 01:41] dalu commented on #282
Thanks for feedback,
is this a toOne relationship in the Comment?
This ManyToOne OneToMany ManyToMany terminology is so confusing.
In my mind I know, Comment is associated with Post and therefore needs to have a PostID somewhere.
So when I'd like to find all comments associated with that post I just query comments by postId.
But I don't know when to say OneToMany or ManyToOne.
When using jsonapi.R

[2017-02-19 13:00] dalu commented on #282
Ah well, I went further along and I have to create a Responder and it's all just too much additional work to get things done. Still thanks for feedback.

Maybe some automation via struct field tags would help simplify the workflow.

[2017-02-19 13:00] #282 closed

[2017-03-26 20:03] abeMedia opened #283 "Support sparse fieldsets"
It would be great if api2go could support sparse fieldsets as per the [JSON API spec](http://jsonapi.org/format/#fetching-sparse-fieldsets) to reduce traffic on larger datasets.

After having a little look through your code I'm thinking it could be implemented in a similar way as pagination.

[2017-03-27 15:43] abeMedia commented on #283
Shame on me for not reading the docs in full...

[2017-03-27 15:43] #283 closed

[2017-05-24 09:29] timbunce commented on #267
Any news on this @freshtonic?

[2017-05-26 11:23] timbunce opened #284 "Progress towards v1.0"
v1.0-RC2 was released this on Aug 16, 2016. There have been 31 commits to master since then.

Making a v1.0-RC3 release from master would be a nice way to add some visible momentum to the project.

There are currently just three issues open for the [v1.0 milestone](https://github.com/manyminds/api2go/milestone/2). Are they all blockers?

[2017-05-26 11:24] wwwdata commented on #284
Hi @timbunce do you actively use api2go and want to help us out? This project is currently standing still because I and also @sharpner don't use api2go for current projects.

[2017-05-29 08:11] timbunce commented on #284
I'm working on a proof-of-concept for using it. Unsure about going forward yet, though it's looking hopeful.

If we go ahead with api2go then I would be interested in helping out. I have experience implementing [something similar](https://metacpan.org/pod/WebAPI::DBIC) in Perl. I'm still very new Go though.

[2017-06-02 13:35] xomaczar commented on #284
@wwwdata I thought you guys were using ember w/ JSONAPI and api2go? Is that not the case anymore?

[2017-06-02 13:41] sharpner commented on #284
yes we stopped working on that project. But it could be that api2go is still in use there :)

[2017-06-02 21:08] michaelkleinhenz commented on #136
Here's a PR with a possible solution:
https://github.com/manyminds/api2go/pull/285

[2017-06-04 09:48] philippecarle commented on #267
That would be a great feature. 👍
But imho it would introduce a huge BC break and so it definitely needs to be developed and merged before 1.0.

[2017-06-04 10:10] philippecarle commented on #267
+ i would be up to work on that but being a quite new gopher, I think it'd be safer if i got some advice on how it should be implemented. A new `Operations` interface with a getter returning a slice of string (defined in constants) ?

[2017-06-04 10:14] wwwdata commented on #267
@philippecarle I guess the best way to split up the CRUD Operations is to split up the CRUD interface into smaller ones. So one Interface for each method. The API then has to check what interfaces are implemented and only then provides the endpoints that are really needed.

[2017-06-04 10:18] wwwdata commented on #267
This could also be done in a backwards compatible way. The CRUD interface can stay the same and consists of all the individual ones.

[code]

maybe with different interface names.

[2017-06-04 10:51] philippecarle commented on #267
I like this last option. I will probably dig into the code later in the day to find out how hard (or easy) it would be to make this work (and most of all how to update the tests to cover that).

[2017-06-04 12:09] freshtonic commented on #267
@timbunce I still think this would be a great feature but I'm no longer involved with the project that would have benefited from this and I no longer have the time to contribute.

All the best!

[2017-06-05 10:25] #267 closed

[2017-06-07 20:09] philippecarle commented on #284
As you've seen, I'm up to be involved in the project and will most likely rely on it for a quite big personal work on a large API. I would be interested in giving a hand to make it fully functional and production ready as from what I've tried by playing with it, it's exactly what I need.
I'm using glide for vendoring and can't find a way to use the master branch so can't get benefits from updates

[2017-06-07 22:54] wwwdata commented on #284
We have a milestone for 1.0. Do  you think we should put anything else to the 1.0 milestone? Let's make it happen and implement all the tickets and then tag 1.0

[2017-06-12 14:17] Irene59 commented on #270
Wondering if there has been some update with resolving this issue?

[2017-06-12 14:25] sharpner commented on #270
unfortunately not, you should watch this issue https://github.com/json-api/json-api/issues/1089

[2017-06-12 20:37] Irene59 commented on #270
too bad, thanks though

[2017-07-10 00:34] DenLilleMand commented on #99
Hey guys. I am interested in helping out with solving this issue since i want to get more into open-source and it was the first thing i noticed missing from the example i tried out. @wwwdata comment back in Apr 14, 2015 might be a little outdated - the spec for jsonapi.org at http://jsonapi.org/format/1.1/#fetching-resources states that

What is the current plan regarding the version of jsonapi,

[2017-07-10 14:09] wwwdata commented on #99
I think because 1.1 is still in development we should do the 1.0 spec now. But for this feature they are the same right? I just quickly looked at the documentation and you should always include a `links` object with a `self` in it. Which in that case is the current request url.

So it would be super awesome if you want to start out implementing this.

I don't know what needs to be done for it righ

[2017-07-10 20:27] DenLilleMand commented on #99
Alright cool. I have to read all of the code first obviously, but i will create a PR and reference this issue as soon as i start comitting code for it.

[2017-07-17 17:55] Azuka opened #287 "Access to the current http.ResponseWriter object"
I'm using Newrelic for monitoring, and the instrumentation [wraps the responseWriter as a transaction](https://docs.newrelic.com/docs/agents/go-agent/get-started/instrument-go-transactions#http-handler-txns). Would it be possible to expose the ResponseWriter object e.g. as part of `api2go.Request`?

I need access to the current transaction downstream, e.g. for monitoring database queries. Would th

[2017-07-18 07:27] sharpner commented on #287
Quick suggestion before looking further into it, you could wrap the whole api2go handler before registering it (untested code):

[code]
Does this help?

[2017-07-18 08:56] wwwdata commented on #287
@sharpner yes that would work to set up the wrapping. But in order to log errors with newrelic they are extending the `ResponseWriter`. It comes down to this example from their docs

[code]

And in our api2go crud methods we don't have the `ResponseWriter` at the moment because we want a `Responder` object as return value which then get's marshalled and so on ...

It would be possible to access th

[2017-07-18 09:06] wwwdata commented on #287
@Azuka  But we are using our own `Request` object with more stuff in it. see:

[code]

So if you write a middleware that just sets the `ResponseWriter` into the middleware context of the `api2go.Request` it should be possible to get it inside the CRUD actions by accessing the `Context` object from the `Request` like this:

[code]

Your middleware just has to write the `ResponseWriter` into the Con

[2017-07-19 03:17] Azuka commented on #287
@wwwdata thanks. I'll try this in a couple hours and get back to you.

[2017-08-07 20:41] mwmahlberg opened #288 "PATCHing with id hands over the ID given in JSON, not the one given in URL"
# Steps to reproduce

1. Create an API for CRUD operations without any relations
2. Create an instance:
[code]
3. Create a second instance:

[code]

3. Check the instances are created properly
[code]
4. Patch instance with ID 1 albeit calling the URL of ID 2:
[code]

5. View result:

[code]

The update of the ID works two, effectively creating a new record when using a sloppy resource or storage i

[2017-08-13 23:14] mwmahlberg commented on #288
@wwwdata Is there any preference from your side as for the status code? I tend towards 400, as actually it might be an attempt of privilege escalation.

Thinking of this, we might not only talk of an enhancement, but a security issue.

[2017-08-14 09:32] sharpner commented on #288
With the documentation you have linked I tend to 409 as it explicitly says:
`A server MUST return 409 Conflict when processing a PATCH request in which the resource object’s type and id do not match the server’s endpoint.`

[2017-08-15 09:44] mirague commented on #284
Great initiative to keep the momentum going guys!

[2017-09-18 22:06] Azuka commented on #287
Closing because this resolved my issue. I got to get back. Thanks @wwwdata

[2017-09-18 22:06] #287 closed

[2017-09-28 14:49] irene-m opened #289 "Get key from QueryParams filter"
I need to get a key from QueryParams filter.
For example I have: users?filter[id]=2, but would also like to leave option for it to be filter[name]=John.

So I would like to have option to get whether it is id or name inside filter. As far as I can see there is no implemented possibility for that, except for me to write code that would take what is in that string, inside those brackets.

Or is ther

[2017-10-01 11:33] wwwdata commented on #289
You get an instance of `api2go.Request` in your resources. This has `QueryParams` and `PlainRequest` which is the standard go `Request` object. You should be able to get out everything with that. Inside the standard `Request` instance you can access the `URL` struct that provides you with everything, see: https://godoc.org/net/http#Request

[2017-10-02 09:15] irene-m commented on #289
I tried with PlainRequest. I have done this: r.PlainRequest.URL.Query. And I got:
` map[filter[id]:[2] filter[name]:[John]]`
Key filter[id] is still string. I need to get x from filter[x].

[2017-10-02 11:17] sharpner commented on #289
This might be a generic go problem and has nothing to do with api2go. You should take a look at the [URL](https://golang.org/pkg/net/url/#URL.Query) struct.

If that's not enough maybe this helps?
https://stackoverflow.com/questions/15407719/in-gos-http-package-how-do-i-get-the-query-string-on-a-post-request

[2017-10-02 11:31] irene-m commented on #289
You're probably right.

I am trying to follow JSON API specifications everywhere I can and well I can easily solve this problem by using for example users?id=2&name=John OR checking in code each filter, but the first one isn't the right way to go if we want to follow JSON API specification, since it said that filter keyword must be used[( http://jsonapi.org/format/#fetching-filtering)].

I looked

[2017-10-02 12:10] wwwdata commented on #289
@irene-m so you want a query parameter `filter` that is used as an array, right? so you have: `url/?filter[id]=foo&filter[name]=bar`

Unfortunately that is how this works in go. So all query parameters even with the array brackets are a string and you need to manually parse them like I did here for example: https://github.com/manyminds/api2go/blob/b893b9448d075a17008d94413004e337705bb212/api.go#L5

[2017-10-02 12:17] irene-m commented on #289
I just wanted to see if it is possible in some other way. Since it is not, gotta do it that way.

Thanks for all the answers and help. :)

[2017-10-02 12:17] #289 closed

[2017-10-04 14:02] imhuytq opened #290 "How to add multiple API versions"
What solution can I add more than one version of the API? Examples v1, v1.2, v2 ...

[2017-10-04 17:50] sharpner commented on #290
Okay, this does not 100% work as intended, but you can mux it with a custom handler:

[code]

The prefered solution would be, to register both API versions directly at the mux.... @wwwdata got any ideas on how to solve this?

Using this snippet:
[code]

will of course yield:
```panic: http: multiple registrations for /```

[2017-10-04 18:26] wwwdata commented on #290
yes @sharpner currently you have to do the routing manually if you branch off different versions.

[2017-10-05 06:11] sharpner commented on #290
if we would remove the prefix stuff entirely, it would be much more easy to handle e.g.:
[code]
what do you think?

[2017-10-05 06:51] imhuytq commented on #290
@sharpner I think it will return: 404 page not found

[2017-10-05 06:55] sharpner commented on #290
sorry to fill up that issue with the discussion :). The first code snippet will work.

[2017-10-05 07:06] imhuytq commented on #290
@sharpner Yes. I think it's the only solution right now. Thank you

[2017-10-05 07:44] wwwdata commented on #290
The version prefix is optional anyway.  But I think it would be handy to add this into api2go so that it’s possible to create multiple versions without the external mutex. So you can directly register multiple versions with different prefixes.

[2017-10-05 14:25] sharpner commented on #290
well not 100% optional, something like this:
[code]
won't work as expected.. only one api now responds.

[2017-10-05 14:30] wwwdata commented on #290
of course, because internally the api2go routing parses the whole url. So you have to give it the full path with a prefix. What I meant is that it's optional in terms of if you don't use it, it doesn't force you to use this url prefix.

So if we make this better and register resources to different prefixes we need a way to do that. So maybe providing a different `addResource` method that takes in

[2017-10-12 23:34] Linuturk opened #292 "httprouter.go Need Type Assertion"
Hey guys,

Not sure why I'm getting this error when I attempt to build with `api2go`:

[code]

Seems to be this line here: https://github.com/manyminds/api2go/blob/master/routing/httprouter.go#L51

If I comment this out everything seems to validate fine. Given the code in that section is from two years ago, I imagine there's just a small tweak that needs to be made?

[2017-10-13 06:30] sharpner commented on #292
Can you show us how you are using it? A bit of code might help to find the problem.

[2017-10-13 06:37] sharpner commented on #292
Tried to dig into this blindly, but I can't reproduce any error:
[code]
works?

[2017-10-13 17:33] Linuturk commented on #292
Yeah, sorry for the lack of context.

[code]

Here are the related sections of `dep status`, just updated yesterday before submitting the issue.
[code]

Was trying to figure out how to integrate into my existing code base that uses gorilla mux. I found this Example and tried to go down this route: https://github.com/manyminds/api2go-adapter/tree/master/gorillamux

[code]

[2017-10-13 18:10] sharpner commented on #292
so it is fixed for you?

[2017-10-13 18:17] Linuturk commented on #292
No, when I have the above code snippet as provided in the gorillamux adapter example, I get the error in the initial report.

[2017-10-13 18:26] sharpner commented on #292
could you provide the output of
`cd $GOPATH/src/github.com/julienschmidt/httprouter &&  git rev-parse HEAD `?

[2017-10-13 18:26] sharpner commented on #292
ah sry I overlooked that one comment :)

[2017-10-13 18:30] sharpner commented on #292
Ah I see now you are using an old version of api2go from november 2015..... puh it's hard to provide any help here, but I would guess that the adapter version would be to new...

[2017-10-13 18:33] Linuturk commented on #292
Is this the recommended way to connect api2go to gorilla mux, or would you recommend a different method?

[2017-10-13 18:39] sharpner commented on #292
Currently that's the way to do it, I just tested it:
[code]

this will work with all versions on master. On version 0.6 somethings might be a lot different. But I understand the confusion, the Readme.md in the adapter package is outdated... We will improve and update all documentation. That should not happen  - sorry :/

[2017-10-13 18:50] Linuturk commented on #292
Here's a larger snippet of my code:

[code]

Then in my daemon, I'm calling:
[code]

This all still results in `github.com/manyminds/api2go/routing/httprouter.go:51: cannot use notAllowedHandler (type http.Handler) as type http.HandlerFunc in assignment: need type assertion` message.

[2017-10-13 19:18] sharpner commented on #292
Yeah... well the fact that `NewAPIWithRouting` in your example takes four parameters, makes sure that it's an outdated version. You should update to the newest version first, otherwise it's hard to provide any advice that's helpful...

[2017-10-13 21:09] Linuturk commented on #292
Updated to match your example.

Still running the latest versions based on the `dep status` from before . . . so I'm not sure how I'm out of date.

[code]

[2017-10-13 22:22] Linuturk commented on #292
Ok, I think I understand now.

It seems that since you used to tag releases, `dep` picks up on `0.6.0` and uses that by default. I updated my `Gopkg.toml` to install via the `master` branch instead of the tag. Now that function takes 3 arguments.

You might want to take a more recent commit as a newer release. https://github.com/golang/dep

With that in mind, I still had to change a portion of the

[2017-10-13 23:30] Linuturk commented on #292
PR failed miserably in the tests you have setup, so I'm back to not understanding why I'm getting this error.

[2017-10-14 10:38] wwwdata commented on #290
Ok I looked into this now as well and actually we already have a quite easy way to do this. Which is a bit tricky because of naming and abusing of a feature that was intended for something else, but I will add convenience methods to chain together different versions of api2go apis. So basically you can use the

https://github.com/manyminds/api2go/blob/8bf46b995b9b98bd0140341534e0ff101f890279/api_p

[2017-10-14 11:35] imhuytq opened #294 "Should objects inside the "included" field be returned with "relationships" field?"
I have 3 models: Campaign, Agency (Owner of campaign), and User (Owner of Agency)

When I get a campaign resource. Should I return ..

have "relationships" filed in "agencies"

[code]

.. or do not have "relationships" filed in "agencies"

[code]

[2017-10-14 12:02] wwwdata commented on #294
According to the jsonapi standard you should add the relationship object to the response. At least include the `links` key into it and omit the `data` if you don't want to include it because it's super large or the client doesn't need it. But that's up to you. Not including it at all would be lying about it and hides the fact that there is a relationship that can be requested by the `link` specifi

[2017-10-14 14:02] imhuytq commented on #294
If response is:

[code]

Do I need to add data of type users (id = 1) to the included array?

[2017-10-14 14:03] wwwdata commented on #294
yes, you could. But this is also totally up to you.

[2017-10-14 14:05] imhuytq commented on #294
How will I do it? It seems api2go does not support this yet?

[2017-10-14 14:09] wwwdata commented on #294
Did you try this and it's not marshalling all the includes recursively? If not then we should add this as a new feature.

[2017-10-14 14:15] imhuytq commented on #294
Yes, I tried it and it has no user data in the included field. We should add it as a new feature.

[2017-10-14 14:20] wwwdata commented on #294
Ok I will try to make this work.

[2017-10-14 16:10] wwwdata commented on #294
@imhuytq I opened a PR, could you please review that PR and also try it out if it solves your problem?

[2017-10-14 16:39] imhuytq commented on #294
@wwwdata I tested. It works well. Thanks for this PR.

[2017-10-15 07:50] #294 closed

[2017-10-15 07:57] sharpner commented on #292
The latest Tag is `1.0-RC3` please use that version or master and it will solve your issues.

For proof I just tested a vanilla setup and it works fine:
[code]
where as gorilla.go will be one of the snippets above.
It will work :)

[2017-10-15 08:20] #290 closed

[2017-10-18 02:56] Azuka opened #297 "Error log / stack trace support"
I wasn't sure if this was covered / implemented here but is there support for passing in a logger (e.g. for StackDriver, or logrus) or some interface with method `Error(error)` so we can log stack traces of errors that happen inside a resource?

[2017-10-18 13:45] sharpner commented on #297
I am not quite sure what exactly you mean.

Nothing currently prevents you from logging anything. You could for example wrap the api2go.handler which you register at the http.Server and log every request... Maybe you could specify what exactly you want to achieve?

[2017-10-18 14:21] Azuka commented on #297
Thanks @sharpner.

I was looking to see if any errors caught by the [handleError()](https://github.com/manyminds/api2go/blob/b893b9448d075a17008d94413004e337705bb212/api.go#L1148) method could potentially be logged especially when triggered from inside the `api2go` package itself.

[2017-10-18 15:33] sharpner commented on #297
well we currently log at this exact position with the std log package. So you could already redirect using [log.SetOutput](https://golang.org/pkg/log/#SetOutput) to redirect anywhere you like. Is that sufficient?

[2017-10-18 17:35] Azuka commented on #297
@sharpner, that should work. I'm using logrus (which can act as an io.Writer) with hooks. I'll try setting that and let you know if it works.

[2017-10-23 16:01] #288 closed

[2017-10-23 21:53] Linuturk commented on #292
[code]

Ripped out all the gorilla mux stuff to simplify things. Still getting the `../vendor/github.com/manyminds/api2go/routing/httprouter.go:51:26: cannot use notAllowedHandler (type http.Handler) as type http.HandlerFunc in assignment: need type assertion` error.

Not really sure where to go from here honestly.

[2017-10-23 23:17] Linuturk commented on #292
Just as a refresher, here are my current deps in the vendor directory:

[code]

and my go version
[code]

[2017-10-23 23:21] Linuturk commented on #292
I just noticed the v1.1 tag on the httprouter package, and pinned to master instead. Problem is gone.

[2017-10-23 23:21] #292 closed

[2017-10-26 17:14] sharpner opened #300 "Is this correct behaviour?"
I stumbled upon this:
https://github.com/manyminds/api2go/blob/master/api_interfaces_test.go#L335
https://github.com/manyminds/api2go/blob/master/api_interfaces_test.go#L440

which seems to have slipped through our eyes. Every tests checks for 405 (even though the description state 404) except the first one for create.

We should investigate what's happening here. If you ask me, every route should

[2017-10-26 17:18] sharpner opened #301 "Improve method not allowed handling"
We currently have a private methodNotAllowed handler that gets registered only in the case that a user uses the default httprouter.

We should somehow make sure that one gets registered...

Maybe we can now even auto plug the router for each framework, since because of the build tag, we now which framework is getting used....

[2017-10-26 17:18] sharpner commented on #297
I'm closing this for now,  just reopen if this issue has not been solved for you :)

[2017-10-26 17:18] #297 closed

[2017-10-26 18:28] sharpner commented on #136
so meta is implemented #291 but links is we still need to do @wwwdata right?

[2017-10-26 19:33] wwwdata commented on #136
yes

[2017-10-30 19:32] #280 closed

[2017-11-08 07:56] LewisWatson opened #304 "using the gin framework and dep"
Hello, I'm having some trouble getting api2go working with gin.

I followed the [instructions on the main readme](https://github.com/manyminds/api2go#using-api2go-with-the-gin-framework) but I get the following error:

[code]
I suspect that `go get -tags=gingonic github.com/manyminds/api2go` might not be working. I haven't encountered the `-tags` flag before, but does it not look for a "gingionic"

[2017-11-08 08:05] sharpner commented on #304
hi, sorry to hear that, we hoped that using [build tags](https://dave.cheney.net/2013/10/12/how-to-use-conditional-compilation-with-the-go-build-tool) would make things easier.

The -tags flag has nothing to do with git. As you can see [here](https://github.com/manyminds/api2go/blob/master/routing/gingonic.go) it means that the gin router will then be included but not the other ones.

The error yo

[2017-11-10 08:03] LewisWatson commented on #304
Hi @sharpner, thanks for the reply. Knowing its a build tag has helped me get a bit further.

Support for dep sounds like a separate issue now, so I created a [new branch in my example repo](https://github.com/LewisWatson/api2go-with-gin-example/tree/no-dep) where I stripped out all the dep files. This helped me learn two things:
1. `go get` always downloads `routing/gingonic.go`, but will ignore

[2017-11-10 08:14] sharpner commented on #304
Thanks for your thorough investigation!
That's right, we use the build tags explicitly so that one user who wants to use gin, does not inherit dependencies to N other frameworks as well :)

For the httprouter it seams you still have v1.1 which is a version from 2015. I think the master pinning did not work as you expected.

You can see this because REVISION and LATEST do not match.

[2017-11-10 17:37] LewisWatson commented on #304
Switching the `github.com/julienschmidt/httprouter` from a "constraint" to an "override" got me over the last hurdle to a working build :+1:

This is how my `gopkg.toml` looks like now
[code]

`dep status`
[code]

[2017-11-10 17:37] #304 closed

[2017-11-10 17:47] sharpner commented on #304
Thank you for posting your solution!

[2017-11-11 04:01] imhuytq opened #305 "Server panic when query page[size]=0"
When calling PaginatedFindAll with query page[size]=0, the server returns the following error:

[code]

I think PaginatedFindAll should return the defaultSize. When query page[size]=0 will assign size = defaultSize.
Another problem is that when I want to limit the size (eg max = 10), what should I do?

[2017-11-11 08:27] imhuytq opened #306 "No need check pagination.isValid() in handleIndex"
In some cases, I want to use only page[number] without page[size]. Currently handleIndex will ignore PaginatedFindAll (Because pagination.isValid() is false) and call to FindAll. If this time my resource does not implement FindAll, then the 404 error.

I think we do not need to call pagination.isValid() in handleIndex, let this be for PaginatedFindAll. So I can customize my API more easily.

What

[2017-11-11 09:08] sharpner commented on #305
Oh that is not supposed to happen. Thanks for reporting! Instead of implicitly assuming that zero should be the defaultSize, I'd rather handle invalid cases with a bad request. If you'd like or it's urgent you you open a PR with a test, but if not, we will take a look at it :)

[2017-11-11 09:18] sharpner commented on #306
Depends on the reason of why do you want to omit the page size.

I've been trying to wrap my head around the idea but it kinda always results in some kind of fallback size which the server knows. Since jsonapi wants to give the client full control of the backend, I'd rather not omit it, if that's the case.

If the case is, that for the first page you want to specify the page length, and for furthe

[2017-11-11 10:44] imhuytq commented on #306
For example, I have a resource called Profile. When my client requests to / profiles without any page[number] or page[size] parameters, I want the server to return to the client a paged result list and include the links (next, prev, first, last). Currently I will have to manually create the list of links in the FindAll function and insert it into the Response.

I think instead of using pagination.

[2017-11-11 10:53] imhuytq commented on #305
I validated the page[size] parameter in the PaginatedFindAll function and returned a BadRequest error message if it was zero. This problem is not very serious, but you should check back later. I think the way to solve this problem may be related to #306.

[2017-12-22 16:54] drauschenbach opened #307 "How to marshal an attribute with variable content?"
One of Ember Data's capabilities is its ability to allow variable data within an attribute. Sample Ember model:

[code]

An Express-based NodeJS endpoint has no problem constructing a payload with the nested data:

[code]

Does anyone have guidance on how to marshal a `map[string]interface{}` to publish the `props` attribute mentioned above? I can't seem to get around: `ERROR Failed marshaling JSO

[2017-12-22 22:19] drauschenbach commented on #307
It looks like my issue has less to do with the map, and more to do with the fact that I'm struggling to marshal an array or slice of any kind. My slice contains structs that serialize individually, but when I put them in a slice and try and serialize that, I get `missing method GetID`.

I might be stumbling onto the Go-ism about it only being able to reflect on an abstract interface reference. I t

[2017-12-23 00:29] drauschenbach opened #308 "Model routes should be dasherized, not camelized"
When the NewAPI().AddResource() mechanism is used to register a model with a name such as `MyStruct`, the route that is registered should be the dasherized `my-struct`. Instead, the route that is registered is the camelized `myStruct`. This isn't compatible with Ember Data. And in fact, Ember does not even have a convenient pathForType widget to camelize and pluralize a dasherized route, which mak

[2017-12-23 00:52] drauschenbach commented on #308
[code]

(from [Ember 2.17.0 customizing-serializers](https://guides.emberjs.com/v2.17.0/models/customizing-serializers/#toc_json-api-document))

Reading through https://github.com/manyminds/api2go/issues/15 and trying to figure out where this discrepancy crept in.

[2017-12-23 01:53] drauschenbach commented on #307
I solved this. Only arrays of pointers to structs can be marshalled, and this is due to Go reflection limitations. I was attempting to marshal an array of structs.

[2017-12-23 01:53] #307 closed

[2017-12-24 12:02] wwwdata commented on #308
You're right. But in the meantime, it is still possible to give all the fields in your structs custom names. So you could do it like in our example and give dasherized names to your fields, see:

https://github.com/manyminds/api2go/blob/e7b693844a6ff1798ca2a84d8481884ca81d191a/examples/model/model_user.go#L10-L18

Maybe we should make this a configurable option whether people want to use the stand